label {
    min-width: 10em;
    display: inline-block;
}

input {
    margin-right: 1em;
}

.right {
    float: right;
}

.label {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.droppable_input_wrapper {
    display: inline;
}

/* wms tree */
.mapproxy_source, .mapproxy_cache, .mapproxy_layer, .wms, .layer, .grp_layer {
    border: 1px solid black;
    display: block;
    white-space: normal;
}

.layer, .grp_layer {
    margin-left: 2em;
    padding-top: 0em;
    padding-bottom: 0.2em;
}

.insertable_multi .item {
    white-space: normal;
    display: block;
    margin: 0.2em;
}

.layer_infos {
    padding-bottom: 1em;
}

/*insertables*/
.insertable_single {
    min-width:10em;
    min-height:2.5em;
    background-color: gray;
}

.insertable_multi {
    width:25em;
    min-height:10em;
    /*background-color: gray;*/
    display: inline-block;
    cursor: default;
}

/* Form validation */
/* Nested form */
input.ng-invalid,
div.ng-invalid,
label.ng-invalid {
    border-color: #FA787E;
}

.warning_icon {
    display: inline-block;
}
/*
.ng-scope {
    border: 1px dashed green;
}

.ng-isolate-scope {
    border: 1px dashed red;
}
*/
