<script type="text/ng-template" id="error_messages">
  <div ng-show="!angularElement.$pristine && angularElement.$error.required">${ _('This field is required') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.url">${ _('Invalid URL') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.number">${ _('Invalid number') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.float">${ _('Invalid float') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.integer">${ _('Invalid integer') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.pattern">${ _('Invalid character(s)') }</div>
  <div ng-show="!angularElement.$pristine && angularElement.$error.list">${ _('Invalid list') }</div>
</script>

<script type="text/ng-template" id="checkbox_label">
  <div class="checkbox" ng-class="{'has-error': invalid, 'has-warning': warning}">
    <label>
      <span ng-transclude></span> {{getText()}}
      <i ng-show=tooltipContent class="glyphicon glyphicon-question-sign help" tooltip="{{tooltipContent}}"></i>
      <span ng-include="'error_messages'" class="text-danger"></span>
      <i class="pull-right glyphicon glyphicon-warning-sign help text-warning"
         ng-show="warning"
         tooltip="tooltip"
         tooltip-content="{{warningMsg()}}">
      </i>
    </label>
  </div>
</script>

<script type="text/ng-template" id="input_label">
  <div class="form-group form-group-sm" ng-class="{'has-error': invalid, 'has-warning': warning}">
    <label for="{{name}}">{{getText()}}:
      <i ng-show=tooltipContent class="glyphicon glyphicon-question-sign help" tooltip="{{tooltipContent}}"></i>
    </label>
    <div ng-transclude></div>
    <i class="pull-right glyphicon glyphicon-warning-sign help text-warning"
       ng-show="warning"
       tooltip="tooltip"
       tooltip-content="{{warningMsg()}}">
    </i>
    <span ng-include="'error_messages'" class="text-danger"></span>
  </div>
</script>

<script type="text/ng-template" id="input_label_toggleable">
  <div ng-class="{'has-error': invalid, 'has-warning': warning}" toggle-group mode="multiShow">
    <label class="toggleable-label" for="{{name}}"
           toggle-element="next"
           set-focus>
      <span class="control-icons">
        <i class="glyphicon glyphicon-chevron-right" title="${ _('show content') }"></i>
        <i class="glyphicon glyphicon-chevron-down" ng-show=false title="${ _('hide content') }"></i>
      </span>
      {{getText()}}
      <i ng-show=tooltipContent class="glyphicon glyphicon-question-sign pull-right help" tooltip="{{tooltipContent}}"></i>
    </label>
    <div class="controls" ng-show="false">
      <span ng-transclude></span>
      <i class="pull-right glyphicon glyphicon-warning-sign help text-warning"
         ng-show="warning"
         tooltip="tooltip"
         tooltip-content="{{warningMsg()}}">
      </i>
      <span ng-include="'error_messages'" class="text-danger"></span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="success">
  <div class='text-success save_ok messsage-area' ng-show='false'>
    <i class='glyphicon glyphicon-ok'></i>
    <strong>{{message}}</strong>
  </div>
</script>

<script type="text/ng-template" id="error">
  <div class='text-danger messsage-area' ng-show='false'>
    <i class='glyphicon glyphicon-remove-circle'></i>
    <strong>${ _('An error occured') }</strong>
    <p>{{message}}</p>
  </div>
</script>
