<div>
  <button class='btn btn-sm btn-default'
          ng-show="!editareaBinds.visible"
          ng-click='editareaBinds.visible=true;'
          id='_editarea_toggle_button'>
    ${ _('Edit manual') }
  </button>
  <div ng-show='editareaBinds.visible'>
    <h3>${ _('Edit manual') }</h3>
    <textarea class='form-control edit-manual form-line-spacing' id='_editarea' ng-disabled="ngDisabled"></textarea>
    <div class="row">
      <div class="col-sm-7">
        <button ng-show='!editareaBinds.editareaValue._manual'
                ng-disabled="ngDisabled"
                ng-click='save()'
                class='btn btn-sm btn-default'>
          ${ _('Save') }
        </button>
        <button ng-click='save()'
                ng-show='editareaBinds.editareaValue._manual'
                ng-disabled="ngDisabled"
                class='btn btn-sm btn-default'>
          ${ _('Save') }
        </button>
        <button ng-click='reset()'
                ng-disabled="ngDisabled"
                class='btn btn-sm btn-default'>
          ${ _('Reset') }
        </button>
      </div>
      <div class="col-sm-5">
        <button ng-click='leaveEditarea()'
                ng-disabled="ngDisabled"
                ng-show='!editareaBinds.editareaValue._manual'
                class='btn btn-sm btn-default'>
          ${ _('Back to form edit') }
        </button>
        <button ng-show='editareaBinds.editareaValue._manual'
                ng-disabled="ngDisabled"
                class='btn btn-sm btn-default'
                dialog="ask"
                dialog-title="${ _('Back to form editing title') }?"
                dialog-text="${ _('Back to form editing info text - lose some inputs') }"
                callback="leaveEditarea(true)">
          ${ _('Back to form edit') }
        </button>
      </div>
    </div>
  </div>
</div>
