<ul class="extendableInputList list-unstyled">
  <li ng-repeat="item in extendableInputListBinds">
    <form name="_eilForm">
      <div labeled="input_label"
           name-for="eil_item"
           text="{{listPrefix}} {{$index}}"
           form-name="_eilForm">
        <div class="row">
          <div class="col-sm-7 col-sm-offset-1">
            <input type="number"
                   class="_extendableInputListItem inputField form-control input-sm"
                   float
                   ng-blur="update()"
                   ng-click="focusOn(this)"
                   ng-model="items[$index]"
                   ng-disabled="ngDisabled"
                   id="eil_item"
                   name="eil_item"/>
          </div>
          <div class="col-sm-1 input-sm">
            <i class="glyphicon glyphicon-remove list-icon"
               ng-click="remove($index)"
               ng-show="!ngDisabled"
               title="${_('delete')}"></i>
          </div>
        </div>
      </div>
    </form>
  </li>
  <li>
    <div labeled="input_label"
         name-for="_extendableInputListNewInput"
         text="{{listPrefix}} {{extendableInputListBinds.length}}">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
          <input type="number"
                 class="_extendableInputListItem inputField form-control input-sm"
                 float
                 id="_extendableInputListNewInput"
                 name="_extendableInputListNewInput"
                 ng-blur="blured=true;waitForFocus();"
                 ng-change="showNext=true"
                 ng-model="items[extendableInputListBinds.length]"
                 ng-disabled="ngDisabled"/>
        </div>
      </div>
    </div>
  </li>
  <li ng-show="showNext">
    <div labeled="input_label"
         name-for="extendableInputListDummyInput"
         text="{{listPrefix}} {{extendableInputListBinds.length + 1}}">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
          <input type="number"
                 class="_extendableInputListItem inputField form-control input-sm"
                 float
                 ng-focus="update()"
                 ng-model="items[extendableInputListBinds.length + 1]"
                 ng-disabled="ngDisabled"
                 name="extendableInputListDummyInput"
                 id="extendableInputListDummyInput"/>
        </div>
      </div>
    </div>
  </li>
</ul>
