<span>
  <script type="text/ng-template" id="min_max">
    <div labeled="input_label"
         name-for="min_res"
         text="${ _('min_res') }"
         ng-show="resSelected"
         tooltip-content="min_res">
      <input type="text"
             float
             id="min_res"
             name="min_res"
             ng-model="data.min_res"
             class="form-control"/>
    </div>
    <div labeled="input_label"
         name-for="max_res"
         text="${ _('max_res') }"
         ng-show="resSelected"
         tooltip-content="max_res">
      <input type="text"
             float
             id="max_res"
             ng-model="data.max_res"
             name="max_res"
             class="form-control"/>
    </div>
    <div labeled="input_label"
         name-for="min_scale"
         text="${ _('min_scale') }"
         ng-show="!resSelected"
         tooltip-content="min_scale">
      <input type="text"
             float
             id="min_scale"
             name="min_scale"
             ng-model="data.min_res_scale"
             class="form-control"/>
    </div>
    <div labeled="input_label"
         name-for="max_scale"
         text="${ _('max_scale') }"
         ng-show="!resSelected"
         tooltip-content="max_scale">
      <input type="text"
             float
             id="max_scale"
             ng-model="data.max_res_scale"
             name="max_scale"
             class="form-control"/>
    </div>
  </script>

  <script type="text/ng-template" id="list">
    <div extendable-input-list="data.resScales"
         list-prefix="Level"
         ng-disabled="grid._locked||grid.default"
         parent-form="form">
    </div>
  </script>

  <div labeled="input_label_toggleable"
       name-for="units"
       text="${ _('Resolutions / Scales') }"
       tooltip-conent="min_max_res">
    <div class="row form-line-spacing">
      <div class="col-sm-6">
        <div class="btn-group pull-left" data-toggle="buttons-radio">
          <button type="button"
                  class="btn btn-sm btn-default"
                  ng-class="{'active': !resSelected}"
                  ng-click="convert('to_scale')">
            ${ _('Scale') }
          </button>
          <button type="button"
                  class="btn btn-sm btn-default"
                  ng-class="{'active': resSelected}"
                  ng-click="convert('to_res')">
            ${ _('Resolution') }
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group pull-right"
             ng-model="data.units"
             data-toggle-name="is_private"
             data-toggle="buttons-radio"
             id="units">
          <button type="button"
                  ng-click="data.units='m';form.$pristine=false;"
                  class="btn btn-sm btn-default"
                  ng-class="{'active': data.units=='m'}"
                  data-toggle="button">
            ${ _('Meters') }
          </button>
          <button type="button"
                  ng-click="data.units='d';form.$pristine=false;"
                  class="btn btn-sm btn-default"
                  ng-class="{'active': data.units=='d'}"
                  data-toggle="button">
            ${ _('Degrees') }
          </button>
        </div>
      </div>
    </div>
    <div ng-include src="mode"></div>
  </div>
</span>
