<div>
    <button class='btn btn-small' ng-show='!_editarea.visible' ng-click='show()' id='_editarea_toggle_button'>{{'Edit manual'|i18n}}</button>
    <div ng-show='_editarea.visible'>
        <h3>{{'Edit manual'|i18n}}</h3>
        <textarea class='input-xlarge' id='_editarea'></textarea>
        <div class='text-center'>
            <button
                ng-show='!editareaValue._manual'
                dialog="ask" dialog-title="{{'Confirm!'|i18n}}"
                dialog-text="{{'If you save the manual edition, you wont be able to edit it in the above form again. Realy save the manual edition?'|i18n}}"
                callback='save()'
                class='btn btn-small'>
                {{'Save'|i18n}}
            </button>
            <button
                ng-click='save()'
                ng-show='editareaValue._manual'
                class='btn btn-small'>
                {{'Save'|i18n}}
            </button>
            <button
                ng-click='reset()'
                class='btn btn-small'>
                {{'Reset'|i18n}}
            </button>
            <button
                ng-click='leaveEditarea()'
                ng-show='!editareaValue._manual'
                class='btn btn-small'>
                {{'Back to form edit'|i18n}}
            </button>
        </div>
        <div class='text-center'>
            <span class='text-success save_ok' ng-show='false'>
                <br>
                <i class='icon-ok'></i>
                <strong>{{'Saved successfully'|i18n}}</strong>
            </span>
            <span class='text-error' id='editarea_error' ng-show='false'>
                <br>
                <i class='icon-thumbs-down'></i>
                {{editareaErrorMsg}}
            </span>
        </div>
    </div>
</div>
