<div>
  <button class='btn btn-small'
          ng-show="!editareaBinds.visible"
          ng-click='editareaBinds.visible=true;'
          id='_editarea_toggle_button'>
    {{'Edit manual'|i18n}}
  </button>
  <div ng-show='editareaBinds.visible'>
    <h3>{{'Edit manual'|i18n}}</h3>
    <textarea class='input-xlarge edit-manual' id='_editarea' ng-disabled="ngDisabled">
    </textarea>
    <div class="pull-left">
      <button ng-show='!editareaBinds.editareaValue._manual'
              ng-disabled="ngDisabled"
              dialog="ask" dialog-title="{{'Confirm!'|i18n}}"
              dialog-text="{{'If you save the manual edition, you wont be able to edit it in the above form again. Realy save the manual edition?'|i18n}}"
              callback='save()'
              class='btn btn-small'>
        {{'Save'|i18n}}
      </button>
      <button ng-click='save()'
              ng-show='editareaBinds.editareaValue._manual'
              ng-disabled="ngDisabled"
              class='btn btn-small'>
        {{'Save'|i18n}}
      </button>
      <button ng-click='reset()'
              ng-disabled="ngDisabled"
              class='btn btn-small'>
        {{'Reset'|i18n}}
      </button>
    </div>
    <div class="pull-right">
      <button ng-click='leaveEditarea()'
              ng-disabled="ngDisabled"
              ng-show='!editareaBinds.editareaValue._manual'
              class='btn btn-small'>
        {{'Back to form edit'|i18n}}
      </button>
      <button ng-show='editareaBinds.editareaValue._manual'
              ng-disabled="ngDisabled"
              class='btn btn-small'
              dialog="ask"
              dialog-title="{{'Really go back to form editing'|i18n}}?"
              dialog-text="{{'If you go back to form editing, you will loose all configurations which are not represented by form fields'|i18n}}"
              callback="leaveEditarea(true)">
        {{'Back to form edit'|i18n}}
      </button>
    </div>
    <div class='text-center'>
      <span message-handler="error" message-types="editarea.error"></span>
    </div>
  </div>
</div>
