<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="mapproxy_gui">
    <head>
        <title>Mapproxy GUI</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.10.0.custom.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">

        <!--[if lte IE 8]>
            <script type="text/javascript" src="js/ie8_fixtures.js"></script>
        <![endif]-->

        <!-- libs -->
        <script type="text/javascript" src="/static/js/lib/angular.js"></script>
        <script type="text/javascript" src="/static/js/lib/angular-resource.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery-ui-1.10.0.custom.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap.js"></script>

        <!-- site libs -->
        <script type="text/javascript" src="/static/js/helper.js"></script>
        <script type="text/javascript" src="/static/js/validators.js"></script>
        <script type="text/javascript" src="/static/js/resources.js"></script>
        <script type="text/javascript" src="/static/js/services.js"></script>
        <script type="text/javascript" src="/static/js/directives.js"></script>
        <script type="text/javascript" src="/static/js/controllers.js"></script>
        <script type="text/javascript">
            /* add directives and services*/
            var app = angular.module('mapproxy_gui', ['mapproxy_gui.directives', 'mapproxy_gui.services', 'mapproxy_gui.validators']);
        </script>

    </head>
    <body>
        <div tabs>
            <div pane header="Source">
                <div class="row-fluid">
                    <div class="span3 well" ng-controller="MapproxySourceListCtrl">
                        <h3>Mapproxy Sources</h3>
                        <ul>
                            <li class="mapproxy_source label"
                                ng-repeat="source in mapproxy_sources | orderBy:'name'"
                                >
                                <span ng-click="editSource(source)">{{source.name}}</span>
                                <button
                                    class="btn btn-mini btn-danger right"
                                    ask-dialog
                                    dialog-title="Confirm!"
                                    dialog-text="Shold i do it?"
                                    callback="removeSource(source)">X</button>
                            </li>
                        </ul>
                    </div>

                    <div class="span4 well">
                        <h3>Edit Source</h3>
                        <div ng-controller="MapproxySourceNoticeCtrl">
                            <form class="form-horizontal" name="source_form" ng-controller="MapproxySourceFormCtrl" novalidate>
                                <div toggle-group mode="multiShow">
                                    <div
                                        style="display:none;"
                                        id="confirm_url_change_dialog"
                                        title="confirm url change">
                                        <p>Replace service URL deletes all layers depends to it!</p>
                                    </div>
                                    <h5 toggle-element="next">Required Settings</h5>

                                    <div ng-show="true">
                                <!-- name -->
                                        <div labeled-control-group name-for="source_form.name" text="Name">
                                            <input class="input-xlarge" type="text" required ng-model="source.name" name="source_form.name"/>
                                        </div>
                                <!-- req -->
                                    <!-- url -->
                                        <div labeled-control-group name-for="source_form.req_url" text="URL">
                                            <!-- change-callback MUST provide parameters callback and new_data -->
                                            <!-- if an input field should be droppable, it must be wraped in an other element.
                                                 otherwise input field value will not be updated when something is dropped in.-->
                                            <div droppable change-callback="openDialog(callback, new_data)" class="droppable_input_wrapper input-xlarge"
                                                accepts="wms_source" use-key-for-value="url" ng-model="source.req.url">
                                                <input class="input-xlarge" type="url" value="{{source.wms_source}}" name="source_form.req_url"
                                                    required ng-model="source.req.url" />
                                            </div>
                                        </div>
                                    <!-- layer -->
                                        <div labeled-control-group name-for="source_form.req_layer" text="Layer">
                                            <div
                                                droppable
                                                required
                                                accepts="wms_layer"
                                                allow-array="true"
                                                ng-model="source.req.layers"
                                                name="source_form.req_layers"
                                                use-key-for-value="name"
                                                class="input-xlarge insertable_multi uneditable-input">
                                                <div sortable ng-model="source.req.layers" >
                                                    <div ng-repeat="layer in source.req.layers" class="item">
                                                        {{layer}} <span ng-show="layerTitle(layer)">({{layerTitle(layer)}})</span>
                                                        <button class="btn btn-mini btn-danger right" ng-click="remove(layer)">X</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div labeled-control-group name-for="add_layer_manual" text="Manual add layer">
                                            <input type="text" id="add_layer_manual" name="add_layer_manual" ng-model="custom.layer_manual" class="input-xlarge">
                                            <button class="btn btn-small" ng-click="addLayerManual($event)">Add</button>
                                        </div>
                                    <!-- transparent -->
                                        <div labeled-control-group name-for="source_form.req_transparent" text="Transparent" warning="{{invalid_image_settings}}" warning-msg="Selectet image format(s) not support transparency.">
                                            <input type="checkbox" ng-model="source.req.transparent" name="source_form.req_transparent">
                                        </div>
                                    </div>
                                    <h5 toggle-element="next">Optional Settings</h5>
                                    <div ng-show="false">
                                <!-- supported_formats -->
                                        <!-- XXXkai: replace by received list of supported formats -->
                                        <div labeled-control-group name-for="source_form.supported_formats" text="Supported formats" warning="{{invalid_image_settings}}" warning-msg="Selectet image format(s) not support transparency.">
                                            <select name="source_form.supported_formats" multiple="multiple" ng-model="source.supported_formats">
                                                <option value="PNG">PNG</option>
                                                <option value="JPEG">JPEG</option>
                                                <option value="GIF">GIF</option>
                                            </select>
                                        </div>
                                <!-- supported_srs -->
                                        <!-- XXXkai: replace by received list of supported srs -->
                                        <div labeled-control-group name-for="source_form.supported_srs" text="Supported SRS">
                                            <select name="source_form.supported_srs" multiple="multiple" ng-model="source.supported_srs">
                                                <option value="EPSG:3857">EPSG:3857</option>
                                                <option value="EPSG:4326">EPSG:4326</option>
                                                <option value="EPSG:900913">EPSG:900913</option>
                                            </select>
                                        </div>
                                <!-- min_scale -->
                                        <div labeled-control-group name-for="source_form.min_scale" text="Min. Scale">
                                            <input float type="number" ng-model="source.min_scale" name="source_form.min_scale">
                                        </div>
                                <!-- max_scale -->
                                        <div labeled-control-group name-for="source_form.max_scale" text="Max. Scale">
                                            <input float type="number" ng-model="source.max_scale" name="source_form.max_scale" bigger-than="source.min_scale">
                                        </div>
                                <!-- min_res -->
                                        <div labeled-control-group name-for="source_form.min_res" text="Min. Resolution">
                                            <input float type="number" ng-model="source.min_res" name="source_form.min_res">
                                        </div>
                                <!-- max_res -->
                                        <div labeled-control-group name-for="source_form.max_res" text="Max. Resolution">
                                            <input float type="number" ng-model="source.max_res" name="source_form.max_res">
                                        </div>
                                <!-- concurent_requests -->
                                        <div labeled-control-group name-for="source_form.concurrent_requests" text="Concurrent requests" warning="{{high_number_of_concurrent_requests}}" warning-msg="{{source.concurrent_requests}} concurrent requests can decrease performance.">
                                            <input type="number" integer min=0 type="text" ng-model="source.concurrent_requests" name="source_form.concurrent_requests">
                                        </div>
                                    </div>
                                <!-- wms_opts -->
                                    <h5 toggle-element="next">WMS OPTS</h5>
                                    <div ng-show="false">
                                    <!-- version -->
                                        <div labeled-control-group name-for="source_form.wms_version" text="Version">
                                            <select name="source_form.wms_version" ng-model="source.wms_opts.version">
                                                <option value="1.0.0">1.0.0</option>
                                                <option value="1.1.0">1.1.0</option>
                                                <option value="1.1.1">1.1.1</option>
                                                <option value="1.3.0">1.3.0</option>
                                            </select>
                                        </div>
                                    <!-- map -->
                                        <div labeled-control-group name-for="source_form.wms_map" text="Map">
                                            <input type="checkbox" name="source_form.wms_map" ng-model="source.wms_opts.map">
                                        </div>
                                    <!-- featureinfo -->
                                        <div labeled-control-group name-for="source_form.wms_featureinfo" text="Featureinfo">
                                            <input type="checkbox" name="source_form.wms_featureinfo" ng-model="source.wms_opts.featureinfo">
                                        </div>
                                    <!-- featureinfo_format -->
                                        <div labeled-control-group name-for="source_form.wms_featureinfo_format" text="Featureinfo format">
                                            <input type="text" name="source_form.wms_featureinfo_format" ng-model="source.wms_opts.featureinfo_format">
                                        </div>
                                    <!-- featureinfo_xslt -->
                                        <div labeled-control-group name-for="source_form.wms_featureinfo_xslt" text="Featureinfo XSLT">
                                            <input type="text" name="source_form.wms_featureinfo_xslt" ng-model="source.wms_opts.featureinfo_xslt">
                                        </div>
                                    <!-- legendgraphic -->
                                        <div labeled-control-group name-for="source_form.wms_legendgraphic" text="Legendgraphic">
                                            <input type="checkbox" name="source_form.wms_legendgraphic" ng-model="source.wms_opts.legendgraphic">
                                        </div>
                                    <!-- legendurl -->
                                        <div labeled-control-group name-for="source_form.wms_legendurl" text="Legend URL">
                                            <input type="url" name="source_form.wms_legendurl" ng-model="source.wms_opts.legendurl">
                                        </div>
                                    </div>
                                </div>
                            <!-- buttons -->
                                <button class="btn btn-small" ng-click="addSource($event)" ng-disabled="!source_form.$valid">Save</button>
                                <button class="btn btn-small" ng-click="resetForm($event)">Reset</button>
                            </form>
                        </div>
                    </div>

                    <div class="span4 well" ng-controller="TreeCtrl">
                        <h3>Available WMS</h3>
                        <script type="text/ng-template"  id="wms_layer_renderer.html">
                            <div ng-click="show_infos(layer)" class="layer_infos">
                                <h6>{{layer.title}}</h6>
                                <span ng-show="layer.name">Name: {{layer.name}}</span>
                            </div>
                            <div
                                ng-repeat="layer in layer.layers"
                                ng-include="'wms_layer_renderer.html'"
                                draggable
                                item-data="{{itemData(layer)}}"
                                class="wms_layer grp_layer label"></div>
                        </script>
                        <div toggle-group mode='hideOther'>
                            <div ng-repeat="wms in wms_list" class="wms label label-success" >
                                <h5 draggable item-data="{{wms}}" class="wms_source" toggle-element="next">{{wms.title}}</h5>
                                <div ng-show="$first">
                                    <p>URL: {{wms.url}}</p>
                                    <div
                                        ng-repeat="layer in wms.layer.layers"
                                        ng-include="'wms_layer_renderer.html'"
                                        draggable item-data="{{itemData(layer)}}"
                                        class="wms_layer layer label label-info"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label for="input_wms">Capabilities:</label><input name="input_wms" ng-model="capabilities_url">
                        <button class="btn btn-small" ng-click="addCapabilities(capabilities_url)">GetCapabilities</button><!-- add new wms -->
                    </div>

                </div>
            </div>
            <div pane header="Cache">
                <div class="row-fluid">

                    <div class="span3 well" ng-controller="MapproxyCacheListCtrl">
                        <h3>Mapproxy Cache</h3>
                        <ul>
                            <li
                                class="mapproxy_cache label"
                                ng-repeat="cache in mapproxy_caches | orderBy:'name'"
                                ng-click="editCache(cache)">
                                {{cache.name}}
                                <button
                                    class="btn btn-mini btn-danger right"
                                    ask-dialog
                                    dialog-title="Confirm!"
                                    dialog-text="Shold i do it?"
                                    callback="removeCache(cache)">X</button>
                            </li>
                        </ul>
                    </div>

                    <div class="span4 well" ng-controller="MapproxyCacheFormCtrl">
                        <h3>Edit Cache</h3>
                        <form name="cache_form" ng-model="cache" class="form-horizontal">
                        <!-- name -->
                            <div labeled-control-group name-for="cache_form.cache_name" text="Name">
                                <input required type="text" ng-model="cache.name" name="cache_form.cache_name"/>
                            </div>
                        <!-- sources -->
                            <!-- change-callback MUST provide parameters callback and new_data -->
                            <div labeled-control-group name-for="cache_form.sources" text="Sources">
                                <div
                                    droppable
                                    required
                                    accepts="mapproxy_source"
                                    allow-array="true"
                                    ng-model="cache.sources"
                                    name="cache_form.sources"
                                    use-key-for-value="_id"
                                    class="insertable_multi uneditable-input">
                                    <div sortable ng-model="cache.sources" >
                                        <div ng-repeat="source in cache.sources" class="item">
                                            <span ng-bind="showName(source)"></span>
                                            <button class="btn btn-mini btn-danger right" ng-click="remove(source)">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- meta size -->
                            <!-- x -->
                            <div labeled-control-group name-for="cache_form.meta_size_x" text="Meta size X" name="cache_form.meta_size">
                                <input type="number" integer min=0 ng-model="cache.meta_size[0]" name="cache_form.meta_size_x" />
                            </div>
                            <!-- y -->
                            <div labeled-control-group name-for="cache_form.meta_size_y" text="Meta size Y">
                                <input type="number" integer min=0 ng-model="cache.meta_size[1]" name="cache_form.meta_size_y" />
                            </div>
                        <!-- meta_buffer -->
                            <div labeled-control-group name-for="cache_form.meta_buffer" text="Meta buffer">
                                <input type="number" integer min=0 ng-model="cache.meta_buffer" name="cache_form.meta_buffer" />
                            </div>
                        <!-- concurrent_tile_creators -->
                            <div labeled-control-group name-for="cache_form.concurrent_tile_creators" text="Meta buffer">
                                <input type="number" integer min=1 ng-model="cache.concurrent_tile_creators" name="cache_form.concurrent_tile_creators" />
                            </div>
                        <!-- cache_dir XXXkai: need path validator -->
                            <div labeled-control-group name-for="cache_form.cache_dir" text="Cache dir">
                                <input type="text" ng-model="cache.cache_dir" name="cache_form.cache_dir" />
                            </div>
                        <!-- minimize_meta_req -->
                            <div labeled-control-group name-for="cache_form.minimize_meta_req" text="Minimize meta requests">
                                <input type="checkbox" ng-model="cache.minimize_meta_req" name="cache_form.minimize_meta_req" />
                            </div>
                        <!-- link_single_color_images -->
                            <div labeled-control-group name-for="cache_form.link_single_color_images" text="Link single color images">
                                <input type="checkbox" ng-model="cache.link_single_color_images" name="cache_form.link_single_color_images" />
                            </div>
                        <!-- disable_storage -->
                            <div labeled-control-group name-for="cache_form.disable_storage" text="Link single color images">
                                <input type="checkbox" ng-model="cache.disable_storage" name="cache_form.disable_storage" />
                            </div>
                        <!-- grids XXXkai: replace by received list of supported srs combined with user defined grids-->
                            <div labeled-control-group name-for="cache_form.grids" text="Grids">
                                <select ng-model="cache.grids" name="cache_form.grids" multiple="multiple" ng-options="value._id as value.name for value in available_grids"/>
                                </select>
                            </div>
                        </form>
                        <button class="btn btn-small" ng-click="addCache($event)" ng-disabled="!cache_form.$valid">Save</button>
                        <button class="btn btn-small" ng-click="resetForm($event)">Reset</button>
                    </div>

                    <div class="span3 well" ng-controller="MapproxySourceListCtrl">
                        <h3>Mapproxy Sources</h3>
                        <ul>
                            <li
                                draggable
                                class="mapproxy_source label"
                                ng-repeat="source in mapproxy_sources | orderBy:'name'"
                                item-data="{{source}}">
                                {{source.name}}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div pane header="Grid">
                <div class="row-fluid">
                    <div class="span3 well" ng-controller="MapproxyGridListCtrl">
                        <h3>Mapproxy Grids</h3>
                        <ul>
                            <li class="mapproxy_grid label"
                                ng-repeat="grid in mapproxy_grids | orderBy:'name'"
                                >
                                <span ng-click="editGrid(grid)">{{grid.name}}</span>
                                <button
                                    class="btn btn-mini btn-danger right"
                                    ask-dialog
                                    dialog-title="Confirm!"
                                    dialog-text="Should I do it?"
                                    callback="removeGrid(grid)">X</button>
                            </li>
                        </ul>
                    </div>

                    <div class="span4 well">
                        <h3>Edit Grid</h3>
                        <form class="form-horizontal" name="grid_form" ng-controller="MapproxyGridFormCtrl" novalidate>
                        <!-- name -->
                            <div labeled-control-group name-for="grid_form.name" text="Name">
                                <input required type="text" ng-model="grid.name" name="grid_form.name" />
                            </div>
                        <!-- SRS -->
                            <div labeled-control-group name-for="grid_form.srs" text="SRS">
                                 <select ng-model="grid.srs" name="grid_form.srs" />
                                    <option value="EPSG:3857">EPSG:3857</option>
                                    <option value="EPSG:4326">EPSG:4326</option>
                                    <option value="EPSG:900913">EPSG:900913</option>
                                </select>
                            </div>
                        <!-- BBox -->
                            <div labeled-control-group name-for="grid_form.bbox" text="BBox">
                                <input type="number" ng-model="grid.bbox[0]" class="input-mini" name="grid_form.bbox_0" />
                                <input type="number" ng-model="grid.bbox[1]" class="input-mini" name="grid_form.bbox_1" />
                                <input type="number" ng-model="grid.bbox[2]" class="input-mini" name="grid_form.bbox_2" />
                                <input type="number" ng-model="grid.bbox[3]" class="input-mini" name="grid_form.bbox_3" />
                            </div>
                        <!-- BBox SRS -->
                            <div labeled-control-group name-for="grid_form.bbox_srs" text="BBox SRS">
                                 <select ng-model="grid.bbox_srs" name="grid_form.bbox_srs" />
                                    <option value="EPSG:3857">EPSG:3857</option>
                                    <option value="EPSG:4326">EPSG:4326</option>
                                    <option value="EPSG:900913">EPSG:900913</option>
                                </select>
                            </div>
                            <button class="btn btn-small" ng-click="addGrid($event)" ng-disabled="!grid_form.$valid">Save</button>
                            <button class="btn btn-small" ng-click="resetForm($event)">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
            <div pane header="Layer">
                <div class="row-fluid">

<!-- Mapproxy Layers -->
                    <div class="span3 well" ng-controller="MapproxyLayerListCtrl">
                        <h3>Mapproxy Layer</h3>

                        <script type="text/ng-template"  id="mapproxy_layer_renderer.html">
                            <ul sortable ng-model="layer._layers">
                                <li ng-repeat="layer in layer._layers | orderBy:'_rank'">  <!-- new scope -->
                                    <div draggable item-data="{{layer}}" ng-model="$parent.$parent.layer._layers" class="mapproxy_layer"> <!-- new scope -->
                                        <!-- need to access layer._layers from 2 lines above so i have to go 2 scopes up ($parent.$parent) -->
                                        <div class="label" ng-click="editLayer(layer)">{{layer.name}} ({{layer.title}})</div>
                                        <div class="mapproxy_layer_dropzone" droppable ng-model="layer._layers" allow-array="true"></div>
                                        <div
                                            ng-include="'mapproxy_layer_renderer.html'"
                                            style="margin-left: 0.5em"
                                            >
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </script>
                        <div style="margin-top: 0.3em; margin-bottom: 0.3em; border: 1px solid black;">
                            <ul sortable ng-model="mapproxy_layers">
                                <li ng-repeat="layer in mapproxy_layers | orderBy:'_rank'">
                                    <div draggable item-data="{{layer}}" ng-model="mapproxy_layers" class="mapproxy_layer">
                                        <div class="label" ng-click="editLayer(layer)">{{layer.name}} ({{layer.title}})</div>
                                        <div class="mapproxy_layer_dropzone" droppable ng-model="layer._layers" allow-array="true" parent-id="{{layer._id}}" parent-save="true"></div>

                                        <div
                                            ng-include="'mapproxy_layer_renderer.html'"
                                            style="margin-left: 0.5em"
                                            sortable
                                            ng-model="layer._layers"
                                            >
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                       <div class="mapproxy_layer_dropzone" droppable ng-model="mapproxy_layers" allow-array="true"></div>
                       <button class="btn btn-small" ng-click="updateLayerTree()">Update layer tree</button>
                    </div>
<!-- Layers Form -->
                    <div class="span4 well" ng-controller="MapproxyLayerFormCtrl">
                        <h3>Edit Layer</h3>
                        <form name="layer_form" ng-model="layer" class="form-horizontal">
                        <!-- name -->
                            <div labeled-control-group name-for="layer_form.layer_name" text="Name">
                                <input required type="text" required ng-model="layer.name" name="layer_form.layer_name"/><br>
                            </div>
                        <!-- title -->
                            <div labeled-control-group name-for="layer_form.layer_title" text="Title">
                                <input required type="text" required ng-model="layer.title" name="layer_form.layer_title"/><br>
                            </div>
                        <!-- sources -->
                            <div labeled-control-group name-for="layer_form.sources" text="Sources">
                                <div
                                    droppable
                                    required
                                    accepts="mapproxy_source,mapproxy_cache"
                                    allow-array="true"
                                    ng-model="layer.sources"
                                    name="layer_sources"
                                    use-key-for-value="_id"
                                    class="insertable_multi uneditable-input">
                                    <div sortable ng-model="layer.sources" >
                                        <div ng-repeat="source in layer.sources" class="item">
                                            <span ng-bind="showName(source)"></span>
                                            <button class="btn btn-mini btn-danger right" ng-click="remove(source)">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- min_scale -->
                            <div labeled-control-group name-for="layer_form.min_scale" text="Min. Scale">
                                <input float type="number" ng-model="layer.min_scale" name="layer_form.min_scale">
                            </div>
                        <!-- max_scale -->
                            <div labeled-control-group name-for="layer_form.max_scale" text="Max. Scale">
                                <input float type="number" ng-model="layer.max_scale" name="layer_form.max_scale" bigger-than="layer.min_scale">
                            </div>
                        <!-- min_res -->
                            <div labeled-control-group name-for="layer_form.min_res" text="Min. Resolution">
                                <input float type="number" ng-model="layer.min_res" name="layer_form.min_res">
                            </div>
                        <!-- max_res -->
                            <div labeled-control-group name-for="layer_form.max_res" text="Max. Resolution">
                                <input float type="number" ng-model="layer.max_res" name="layer_form.max_res">
                            </div>
                        </form>
                        <button class="btn btn-small" ng-click="addLayer()" ng-disabled="!layer_form.$valid">Save</button>
                        <button class="btn btn-small" ng-click="resetForm()">Reset</button>
                    </div>

                    <div class="span3 well">
                        <h3>Mapproxy Sources</h3>
                        <ul ng-controller="MapproxySourceListCtrl">
                            <li
                                draggable
                                class="mapproxy_source label"
                                ng-repeat="source in mapproxy_sources | orderBy:'name'"
                                item-data="{{source}}">
                                {{source.name}}
                            </li>
                        </ul>
                        <hr>
                        <h3>Mapproxy Caches</h3>
                        <ul ng-controller="MapproxyCacheListCtrl">
                            <li
                                draggable
                                class="mapproxy_cache label"
                                ng-repeat="cache in mapproxy_caches | orderBy:'name'"
                                item-data="{{cache}}">
                                {{cache.name}}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div pane header="Mapproxy.yaml">
                <div  ng-controller="MapproxyConfigCtrl">
                    <button class="btn btn-small" ng-click="getConfig()">get config</button>
                    <pre ng-bind="mapproxy_yaml|json"></pre>
                </div>
            </div>
        </div>
    </body>
</html>
