<div class="row-fluid">
  <div class="span5">
    <h3>MapProxy Konfiguration</h3>
    <p>Die MapProxy Konfigurationsdatei unterteilt sich in unterschiedliche Abschnitte. Diese wurden in die Oberfläche übernommen und sind als einzelne Bereiche abgebildet. In den einzelnen Bereichen haben Sie die Möglichkeit auf Elemente anderer Beriech zuzugreifen. Es stehen folgende Abschnitte zur Auswahl:</p>
    <dl id="config-index-list" class="dl-horizontal">

      <dt>Sources</dt>
      <dd>Definieren Sie die Datenquellen mit der MapProxy gefüllt werden soll. Standardmässig steht ihnen hier die Auswahl eines WMS zur Verfügung.</dd>
      <dt>Grids</dt>

      <dd>Grids - oder auch Gitter genannt - sind ein wichtiger Part in der MapProxy Konfiguration. Entscheiden Sie hier wie die gecachten Kacheln ausgerichtet werden sollen.</dd>

      <dt>Caches</dt>
      <dd>Der Cache des MapProxy unterschiedliche Grids und Sources beinhalten. Zudem können Sie hier das Format des Caches festlegen.</dd>

      <dt>Layers</dt>
      <dd>Konfiguriert die durch MapProxy bereitgestellten Layer. Jeder Layer kann aus mehreren Sourcen oder Caches bestehen.</dd>

      <dt>Services</dt>
      <dd>MapProxy stellt die Karten in unterschiedlichen Diensten bereit. Standardmässig ist ein WMS und der MapProxy-Demodienst aktiviert.</dd>

      <dt>Globals</dt>
      <dd>MapProxy spezifische Standardwerte die für übergeordnete Bereiche gelten. Zum Beispiel Metabuffer oder die Kachelgröße.</dd>
  </div>
  <div class="span4 offset1">
      <h3>Grundeinstellungen des Projektes</h3>
      <dd>
        <p>Jedes Projekt beinhaltet einige Grundeinstellungen die in der Oberfläche verwendet werden. Hierzu zählen zum Beispiel die zur Auswahl stehenden Koordinatensysteme oder die für die Berechnung verwendete DPI.</p>
        <p>
        </p>
    </dl>
