% if demo:
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-7">
      <h3>MapProxy Tool</h3>
      <p>Die MapProxy Konfigurationsoberfläche ermöglicht es Ihnen eine Konfiguration für MapProxy in wenigen Schritten zu erstellen. Binden Sie zum Beispiel vorhandene WMS Dienste ein und konfigurieren Sie einen Kacheldienst.</p>

      <p>Mit der MapProxy Konfigurationsoberfläche können Sie u.a.:</p>
      <ul>
          <li>WMS Elemente per Drag & Drop hinzufügen</li>
          <li>WMS Coverage festlegen</li>
          <li>Kachelgitter Visiualisieren</li>
          <li>Anzahl von Kacheln berechnen</li>
      </ul>
    </div>
  </div>
  <div class="row top-buffer-2 bg-color-grey">
    <div class="col-sm-7 intro-text">
      <h3>MapProxy-WebConf</h3>
      <p class="text-bigger">Erstellen Sie jetzt eine MapProxy Konfiguration mit der MapProxy-WebConf</p>
    </div>
    <div class="col-sm-5">
      <a href="${ get_url('create_project', demo=True) }" class="btn btn-os colored top-buffer-2">
          Jetzt testen &rarr;
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h3>Über MapProxy</h3>
      <p>Die Open-Source-Software MapProxy ist ein WMS- & Kachel-Proxy mit der Kartendienste, durch Vorgenerieren und Zwischenspeichern, beschleunigt und optimiert werden können. Karten mit MapProxy zudem kombiniert, umtransformiert und abgesichert werden.</p>

      <img class="buffer" src="${ get_url('static', filepath='img/mapproxy/overview.png') }" alt="MapProxy Configuration Tool Logo" class="img-responsive">

      <p>MapProxy wurde im März 2010 von Omniscale als Open-Source-Software veröffentlicht und wird seitdem aktiv von Omniscale betreut und weiterentwickelt.</p>

      <p>MapProxy wird in der Praxis intensiv von Behörden und Unternehmen eingesetzt. So kommt MapProxy im Breitbandatlas des BMWi zum Einsatz um Karten an tausende Benutzer auszuliefern. Zudem setzt das Bundesamt für Kartographie und Geodäsie auf den MapProxy um unterschiedliche WMS Dienste aller 16 Bundesländern on-the-fly zusammenzufassen.</p>

      <p>Mehr Informationen über MapProxy und eine ausführliche Information finden Sie unter: <a href="http://mapproxy.org">http://mapproxy.org</a></p>
    </div>
  </div>
</div>
%end
