label {
    min-width: 10em;
    display: inline-block;
}

input {
    margin-right: 1em;
}

/* wms tree */
.wms, .layer, .grp_layer {
    border: 1px solid black;
    display: block;
}

.layer, .grp_layer {
    margin-left: 2em;
    padding-top: 0em;
    padding-bottom: 0.2em;
}

.layer_infos {
    padding-bottom: 1em;
}

/*insertables*/
.insertable_single {
    min-width:10em;
    min-height:2.5em;
    background-color: gray;
}

.insertable_multi {
    min-width:10em;
    min-height:10em;
    background-color: gray;
}
