html,
body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

body {
    background-color: #CCCBC9;
    color: #3A3740;
}

a {
  color: #2E3537;
}

.complete-row {
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}


#wrapper, footer {
  width: 96%;
  max-width: 1260px;
}

#wrapper {
    margin: 0px auto -43px;
    background-color: #FFFFFF;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.bg-color-grey {
  background-color: #f3f3f3;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buffer {
  padding: 30px;
}


.top-buffer-1 {
  margin-top: 1em;
}

.top-buffer-2 {
  margin-top: 1em;
}

#push {
  height: 40px;
}

ul.loginbar {
  padding: 0;
  margin-bottom: 0;
  z-index: 9999;
  position: relative;
}

ul.loginbar > li {
  display: inline;
  list-style: none;
  padding-bottom: 15px;
  cursor: default;
  color: #787878;
  font-size: 12px;
  text-transform: uppercase;
}

ul.loginbar > li > a,
ul.loginbar > li > a:hover {
  cursor: pointer;
}

ul.loginbar > li.divider {
  margin-left: 2em;
}

footer {
    border-bottom: 3px solid #2AA4B5;
    background-color: #3A3740;
    color: #65676B;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    height: 20px;
}


footer a {
  color: #CCCBC9;
}


footer ul.footer-nav  {
  float: left;
  font-size: 12px;
}

footer ul.footer-nav li {
  display: inline-block;
  color: #bbb;
  margin-right: 20px;
}


footer ul.footer-nav li a:hover {
  color: white;
  border-bottom: none;
  text-decoration: none;
}

footer span#copyright {
  float: right;
}

.carousel-inner > .item {
  text-align: center;
  height: 200px;
}

/*overwrite boostrap */
input[type="radio"],
input[type="checkbox"] {
    margin:0em;
    margin-top: -0.2em;
    margin-right: 0.3em;
}
.control-group {
    margin: 0;
}

.intro-text h3{
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.1;
}

.intro-text .btn {
  margin-top:20px;
}

.text-bigger {
  font-size: 1.2em;
}

h3 {
  display: block;
  padding: 0;
  font-size: 21px;
  color: #333333;
  border: 0;
  font-weight: normal;
}

h5.normal {
  font-weight: normal;
}

h6 {
    margin-top: 0.5em;
    margin: 0;
}

textarea.edit-manual {
    background-color: #3A3740;
    color: white;
}

textarea.edit-manual {
    width: 97%;
}

/* boostrap 2 has not the possiblity to change the height of input fields - this feature comes in bootstrap 3 */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
    height: 16px;
}

img.olTileImage, .olPopup img {
    max-width: none;
}

.btn {
  text-shadow: none;
}

.btn-os {
    background: none repeat scroll 0 0 #31A4B5;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.07);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    outline: medium none;
    padding: 15px 30px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #31A4B5;
}
.btn-os.small, .btn-os.btn-sm {
  padding: 8px 7px;
  font-size: 12px;
}

.btn-os:hover, .btn-os:focus {
    box-shadow: 0 3px rgba(0, 0, 0, 0.07);
    color: #fff;
    text-decoration: none;
}
.btn-os:active {
    box-shadow: 0 2px rgba(0, 0, 0, 0.07);
    color: #fff;
    text-decoration: none;
}
.btn-os.white {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #fff;
    box-shadow: none;
    text-decoration: none;
}

.btn-os.white:hover, .btn-os.white:focus, .btn-os.white:active {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #31A4B5;
    text-decoration: none;
    top: 0;
}

.btn-os.colored {
    color: #31A4B5;
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #31A4B5;
    box-shadow: none;
    text-decoration: none;
}

.btn-os.colored:hover, .btn-os.white:focus, .btn-os.white:active {
    background: none repeat scroll 0 0 #31A4B5;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    top: 0;
}


.btn-add {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5CCBDA;
  *background-color: #2AA4B5;
  background-image: -moz-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CCBDA), to(#2AA4B5));
  background-image: -webkit-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: -o-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: linear-gradient(to bottom, #5CCBDA, #2AA4B5);
  background-repeat: repeat-x;
  border-color: #2AA4B5 #2AA4B5 #3A7E88;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ECFDA', endColorstr='#ff2AA4B5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-add:hover,
.btn-add:focus,
.btn-add:active,
.btn-add.active,
.btn-add.disabled,
.btn-add[disabled] {
  color: #ffffff;
  background-color: #2AA4B5;
  *background-color: #2a85a0;
}

.btn-add:active,
.btn-add.active {
  background-color: #24748c \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #419E51;
  *background-color: #419E51;
  background-image: -moz-linear-gradient(top, #85E996, #419E51); #helle
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85E996), to(#419E51));
  background-image: -webkit-linear-gradient(top, #85E996, #419E51);
  background-image: -o-linear-gradient(top, #85E996, #419E51);
  background-image: linear-gradient(to bottom, #85E996, #419E51);
  background-repeat: repeat-x;
  border-color: #419E51 #419E51 #0F8924; #ganz dunekl
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff85E996', endColorstr='#ff2ED24A', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #419E51;
  *background-color: #419E51;
}


input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #A61D12;
  border-color: #BF574F;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #A61D12;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(42, 164, 181, 1)
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
    }


.input-large {
  width: 200px
}

.input-xlarge {
  width: 350px;
}

.tooltip-inner {
  text-align: left;
}
.tooltip.left {
  margin-left: -10px;
}

/* config page options */
.project-name {
  padding: 10px 5px;
  margin-top: 5px;
}

.middleblock {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 300px !important;
}

.navbar {
    border-top: 3px solid #2AA4B5;
    background-image: 0;
}

.navbar .brand {
  padding: 5px 40px 5px 20px;
}

.navbar .brand h1, .navbar .brand a{
    display: inline;
}
.navbar .brand h1 {
  color: #3A3740;
  top: 7px;
  position: relative;
  font-size: 28px;
}

.navbar .nav {
  margin-top: 38px;
  margin-bottom: 10px;
}

.navbar .nav > li > a {
  padding: 0;
  margin-left: 15px;
  margin-right: 10px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: inherit;
  padding: 0;
  margin-left: 15px;
  margin-right: 10px;
  border-bottom: 2px solid #FF9738;
  -webkit-box-shadow: inherit;
     -moz-box-shadow: inherit;
          box-shadow: inherit;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  background-image: none;
  background: 0;
  box-shadow: none;
  margin-top: 10px;
}


/*.nav-tabs > li  {
  margin-bottom: 0;
  margin-top: 2px;
}*/

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
  border-bottom: 0;
}

.sitebar-wrapper {
    background-color: #2AA4B5;
    padding-top: 25px;
}

.nav.tab-menu {
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 3px;
    border: 0;
}

.nav.tab-menu > li > a {
    color: white;
}

.nav.tab-menu > li.active > a,
.nav.tab-menu > li a:hover {
    color: #3A3740;
}

.tab-menu-header {
    margin-right: 1em;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font-size: 25.5px;
}

hr.formLine {
    margin: 10px 0;
}


/* list options */
ul.vertical-list {
    list-style: none;
    margin: 0;
    max-height: 600px;
    overflow: auto;
}

ul.vertical-list.small {
    max-height: 300px;
}

ul.vertical-list li {
  border-bottom: 1px solid #ccc;
}

ul.vertical-list > div:first-child  {
  border-top: 1px solid #ccc;
}

ul.vertical-list div:hover,
ul.vertical-list div:focus
{
  background-color: #eeeeee;
}

ul.vertical-list div.selected.active,
ul.vertical-list div.selected {
  background-color: #FF9738;
  color: white;
}

ul.vertical-list div.active {
    color: green;
}

ul.vertical-list li {
    /*margin-left: 0.5em;*/
    cursor: pointer;
    white-space: normal;
    padding: 0.5em;
}

ul.vertical-list li i.icon-remove,
ul.vertical-list li i.icon-share {
    float: right;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 4px;
    height: 20px; // make clickable area bigger
}

ul.vertical-list div.selected li i.icon-remove {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 0.9;
}
ul.vertical-list div.selected li i.icon-share {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 0.9;
}

.insertable-list {
    min-height:10em;
    cursor: default;
    overflow: auto;
}

.insertable-list .label {
    white-space: normal;
    display: block;
    padding: .5em;
    margin-bottom: .2em;
    text-shadow: none;
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid #999999;
}

.insertable-list .label .icon-remove {
    float: right;
}

.insertable-list .label:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.accordion {
    white-space: normal;
}

.accordion .label {
    cursor: pointer;
    min-width: 100%;
    background-color: #999999;
}

.pointer,
.toggle-element,
.accordion_wms_source {
    cursor: pointer;
}

.accordion-group {
    border: 1px solid #CCCCCC;
}

.accordion-heading i.icon-globe,
.accordion-heading i.icon-refresh,
.accordion-heading i.icon-remove {
    float: right;
    cursor: pointer;
    margin-top: -1.8em;
    margin-right: 0.5em;
}

.accordion-heading i.icon-refresh {
    margin-right: 2em;
}
.accordion-heading i.icon-globe {
    margin-right: 4em;
}

.accordion-inner {
    overflow: auto;
    max-height: 300px;
}

input.droppable-active, div.droppable-active {
    border: 1px solid #F89406;
}


.draggable-active {
    width: 300px;
    border: 1px solid #F89406 !important;
    padding: 0.5em;
    background-color: #eee;
}

.mapproxy_layer_dropzone {
    height: 20px;
    width: 20px;
    border: 1px solid red;
}

.icon-remove,
.icon-question-sign,
.icon-info-sign,
.icon-share,
.icon-globe,
.icon-refresh {
    cursor: pointer;
    /*opacity: 0.1;*/
}

.icon-warning-sign {
    cursor: pointer;
    opacity: 0.9;
}

.vertical-list li:hover .icon-share:hover,
.vertical-list li:hover .icon-remove:hover,
.vertical-list li:hover .icon-info-sign:hover,
.accordion-heading i.icon-globe:hover,
.accordion-heading i.icon-refresh:hover,
.accordion-heading i.icon-remove:hover,
.icon-remove:hover,
.icon-question-sign:hover,
.icon-warning-sign:hover,
.icon-info-sign:hover,
.icon-share:hover,
.icon-globe:hover,
.icon-refresh:hover {
    opacity: 0.9;
}
/*.accordion-heading i.icon-globe,
.accordion-heading i.icon-refresh,
.accordion-heading i.icon-remove,
.vertical-list li:hover .icon-info-sign,
.vertical-list li:hover .icon-share,
.vertical-list li:hover .icon-remove,
.icon-ok {
    opacity: 0.5;
}
*/
.switch {
  margin-bottom: 20px;
}
.switch > button {
  height: 2em;
}

.extendableInputList {
  list-style-type: none;
  margin-right: 0;
  margin-bottom: 20px;
}

.extendableInputList li > label {
  margin-bottom: 0;
}

.extendableInputList .inputField {
  margin-bottom: 5px;
}

div.blockOverlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    -moz-opacity:.60;
    opacity:.60;
    background-color: #000;
}

div.blockMsg {
    background-color: #fff;
    border: 1px solid black;
    top: 20%;
}

.clear {
    clear: both;
}

.grp_layer .wms_layer {
  margin-left: 10px;
}

.help {
  cursor: help;
}

/* map */
.olControlLayerSwitcher {
    width: 27em;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    max-height: 250px;
    max-width: 250px;
    overflow: auto;
}

._layerSwitcher {
    position: absolute;
    top: 20px;
    right: 5px;
    z-index: 1500;
}

._layerSwitcher .layersDiv i {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.toggleLayerSwitcher {
  position: absolute;
}

._mapScaleResolution {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1500;
  padding: 1px 6px 1px 4px;
  background-color: #3a3740;
  opacity: 0.9;
  color: white;
}

.grid-extension-controls {
  background-color: #3A3740;
  color: white;
  position: absolute;
  text-align: right;
  top: 25px;
  right: 2px;
  z-index: 1500;
  padding: 5px;
}

/* jquery.ui */
.ui-front {
  z-index: 1050;
}

dl.info-horizontal  {
  margin-bottom: 0;
  text-align: left;
}

/* info dialog */
dl.info-horizontal dt {
  width: 100px;
  float: left;
}

dl.info-horizontal dd {
  margin-left: 0;
}

/* config index */
dl#config-index-list dt{
  width: 80px;
  text-align: left;
}

dl#config-index-list dd{
  margin-left: 80px;
  margin-bottom: 10px;
}

.alert-block > p {
  margin-bottom: 10px;
}

.scrollable {
  height: 250px;
  overflow-x:hidden;
  overflow-y:auto;
}
