body {
    padding-top: 60px;
    padding-bottom: 40px;
    min-width: 1150px;
}

/*overwrite boostrap */
.input-xlarge {
  width: 95%;
  /*width: 300px;*/
}

input[type="radio"], input[type="checkbox"] {
    margin:0em;
    margin-top: -0.2em;
    margin-right: 0.3em;
}
.control-group {
    margin: 0 ;
}

h3 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  font-weight: normal;
}

h6 {
    margin-top: 0.5em;
    margin: 0;
}

/* page options */

.middleblock {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 300px !important;
}

.tab-menu {
    margin-top: 1.7em;
    margin-left: 1em;
}

.tab-menu-header {
    margin-right: 1em;
}



/* list options */
ul.vertical-list {
    list-style: none;
    margin: 0;
}

ul.vertical-list li {
    width: 95%;
    margin: 0.5em;
    padding-top:0.6em;
    padding-bottom:0.6em;
    padding-left: 1em;
    cursor: pointer;
    white-space: normal;
}


ul.vertical-list li i.icon-remove {
    float: right;
    cursor: pointer;
}

ul.vertical-list li.mapproxy_source.label, ul.vertical-list li.mapproxy_cache.label  {
    width: 300px;
}

.insertable-list {
    min-height:10em;
    cursor: default;
    overflow: auto;
}


.insertable-list .label {
    white-space: normal;
    display: block;
    padding: .5em;
    margin-bottom: .2em;
    text-shadow: none;
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid #999999;
}

.insertable-list .label .icon-remove {
    float: right;
    cursor: pointer;
}

.insertable-list .label:hover {
    background-color: #999999;
    color: white;
    cursor: pointer;
}

.accordion {
    white-space: normal;
}

.accordion .label {
    cursor: pointer;
    width: 100%;
}

.accordion-group {
    border: 1px solid #CCCCCC;
}

.accordion-heading i.icon-refresh, .accordion-heading i.icon-remove {
    float: right;
    cursor: pointer;
    margin-top: -1.8em;
    margin-right: 0.5em;
}
.accordion-heading i.icon-refresh {
    margin-right: 2em;
}

.nav-pills.nav-stacked  > li.active > a:focus,
.nav-pills.nav-stacked  > li.active > a:hover {
    background-color: #eee;
    color: black;
}

.nav-pills.nav-stacked > li > a {
    background-color: white;
    color: grey;
}

.nav-pills.nav-stacked > li.active > a {
    background-color: white;
    color: green;
}

.nav-pills.nav-stacked > li.selected > a {
    background-color: #eee;
    color: black;
}
