html,
body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: #CCCBC9;
  color: #3A3740;
  font-size: 13px;
}

a {
  color: #2E3537;
}

h1, h2, h3 {
    line-height: 40px;
}

#wrapper {
  margin: 0px auto -43px;
  background-color: #FFFFFF;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#wrapper,
footer {
  width: 96%;
  max-width: 1260px;
}

/* loginbar */

ul.loginbar {
  padding: 0;
  margin-bottom: 0;
  z-index: 9999;
  position: relative;
}

ul.loginbar > li {
  display: inline;
  list-style: none;
  padding-bottom: 15px;
  cursor: default;
  color: #787878;
  font-size: 12px;
  text-transform: uppercase;
}

ul.loginbar > li > a,
ul.loginbar > li > a:hover {
  cursor: pointer;
}

ul.loginbar > li.divider {
  margin-left: 2em;
}
/* /loginbar

/* sitebar */
.sitebar-wrapper {
    background-color: #2AA4B5;
    padding-top: 25px;
}

.sitebar-wrapper .container {
  padding-left: 40px;
  padding-right: 40px;
  /*height: 40px;*/
}

.tab-menu-header {
    margin-right: 1em;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font-size: 25.5px;
}

/* /sitebar */

/* content */

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.middleblock {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 300px !important;
}

/* /content */

/* footer */
footer {
  border-bottom: 3px solid #2AA4B5;
  background-color: #3A3740;
  color: #65676B;
  padding-top: 10px;
  margin: 0 auto;

  text-align: center;
  /*height: 20px;*/
}

footer .container {
    height: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

footer a {
  color: #CCCBC9;
}

footer .row {
  padding-top: 2px;
  padding-bottom: 1px;
}

footer ul.footer-nav  {
  float: left;
  font-size: 12px;
  margin: 0 0 10px 25px;
}

footer ul.footer-nav li {
  display: inline-block;
  color: #bbb;
  margin-right: 20px;
}

footer ul.footer-nav li a:hover {
  color: white;
  border-bottom: none;
  text-decoration: none;
}

footer span#copyright {
  float: right;
}
/* /footer */

/* config index */
dl#config-index-list dt{
  width: 80px;
  text-align: left;
}

dl#config-index-list dd{
  margin-left: 80px;
  margin-bottom: 10px;
}

/* buttons */
.btn-add {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5CCBDA;
  *background-color: #2AA4B5;
  background-image: -moz-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CCBDA), to(#2AA4B5));
  background-image: -webkit-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: -o-linear-gradient(top, #5CCBDA, #2AA4B5);
  background-image: linear-gradient(to bottom, #5CCBDA, #2AA4B5);
  background-repeat: repeat-x;
  border-color: #2AA4B5 #2AA4B5 #3A7E88;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7ECFDA', endColorstr='#ff2AA4B5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-add:hover,
.btn-add:focus,
.btn-add:active,
.btn-add.active,
.btn-add.disabled,
.btn-add[disabled] {
  color: #ffffff;
  background-color: #2AA4B5;
  *background-color: #2a85a0;
}

.btn-add:active,
.btn-add.active {
  background-color: #24748c \9;
}

.btn-os {
  background: none repeat scroll 0 0 #31A4B5;
  border: medium none;
  border-radius: 5px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.07);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  outline: medium none;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #31A4B5;
}
.btn-os.small, .btn-os.btn-sm {
  padding: 8px 7px;
  font-size: 12px;
}

.btn-os:hover, .btn-os:focus {
  box-shadow: 0 3px rgba(0, 0, 0, 0.07);
  color: #fff;
  text-decoration: none;
}
.btn-os:active {
  box-shadow: 0 2px rgba(0, 0, 0, 0.07);
  color: #fff;
  text-decoration: none;
}
.btn-os.white {
  background: none repeat scroll 0 0 transparent;
  border: 2px solid #fff;
  box-shadow: none;
  text-decoration: none;
}

.btn-os.white:hover, .btn-os.white:focus, .btn-os.white:active {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
  color: #31A4B5;
  text-decoration: none;
  top: 0;
}

.btn-os.colored {
  color: #31A4B5;
  background: none repeat scroll 0 0 transparent;
  border: 2px solid #31A4B5;
  box-shadow: none;
  text-decoration: none;
}

.btn-os.colored:hover, .btn-os.white:focus, .btn-os.white:active {
  background: none repeat scroll 0 0 #31A4B5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
  top: 0;
}

/* /buttons */

/* list options */
ul.vertical-list {
    list-style: none;
    margin: 0;
    max-height: 600px;
    overflow: auto;
    padding-left: 0;
    padding-top: 10px;
}

ul.vertical-list.small {
    max-height: 300px;
}

ul.vertical-list li {
  border-bottom: 1px solid #ccc;
}

ul.vertical-list > div:first-child  {
  border-top: 1px solid #ccc;
}

ul.vertical-list div:hover,
ul.vertical-list div:focus
{
  background-color: #eeeeee;
}

ul.vertical-list div.selected.active,
ul.vertical-list div.selected {
  background-color: #FF9738;
  color: white;
}

ul.vertical-list div.active {
    color: green;
}

ul.vertical-list li {
    /*margin-left: 0.5em;*/
    cursor: pointer;
    white-space: normal;
    padding: 0.5em;
}

ul.vertical-list li i.icon-remove,
ul.vertical-list li i.icon-share {
    float: right;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 4px;
    height: 20px; // make clickable area bigger
}

ul.vertical-list div.selected li i.icon-remove {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 0.9;
}
ul.vertical-list div.selected li i.icon-share {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 0.9;
}
/* / list options */

/* input fields */

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #A61D12;
  border-color: #BF574F;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #A61D12;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(42, 164, 181, 1)
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 164, 181, 0.5);
}

/* /input fields */

/* other */
.alert-block > p {
  margin-bottom: 10px;
}

.pointer,
.toggle-element,
.accordion_wms_source {
  cursor: pointer;
}

hr.formLine {
  margin: 10px 0;
}

.pointer,
.toggle-element,
.accordion_wms_source {
  cursor: pointer;
}

.grp_layer .wms_layer {
  margin-left: 10px;
}

.scrollable {
  height: 250px;
  overflow-x:hidden;
  overflow-y:auto;
}

.mapproxy_layer_dropzone {
    height: 20px;
    width: 20px;
    border: 1px solid red;
}

.glyphicon-remove,
.glyphicon-question-sign,
.glyphicon-info-sign,
.glyphicon-share,
.glyphicon-globe,
.glyphicon-refresh {
    cursor: pointer;
    /*opacity: 0.1;*/
}

.filter-help-col {
  padding: 0;
}

.filtered-items-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-icon {
  padding-left: 2px;
  padding-right: 3px;
  padding-top: 1px;
}

.help {
  cursor: help;
}

.inline {
  display: inline;
}

.bg-color-grey {
  background-color: #f3f3f3;
}

.buffer {
  padding: 30px;
}

.top-buffer-1 {
  margin-top: 1em;
}

.top-buffer-2 {
  margin-top: 1em;
}

/* fix for footer overlap */
#push {
  height: 40px;
}
