<script type="text/ng-template" id="checkbox_label">
    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="{{name}}">
                <span ng-transclude></span> {{getText()}}
            </label>
            <span ng-show="showWarning()" id="tooltip_{{$id}}" class="icon-warning-sign warning_icon"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="input_label">
    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="{{name}}">{{getText()}}:</label>
            <span ng-transclude></span>
            <span ng-show="showWarning()" id="tooltip_{{$id}}" class="icon-warning-sign warning_icon"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="success">
    <span class='text-success save_ok' ng-show='false'>
        <i class='icon-ok'></i>
        <strong>{{message}}</strong>
    </span>
</script>

<script type="text/ng-template" id="error">
    <span class='text-error' ng-show='false'>
        <i class='icon-remove-circle'></i>
        <strong>{{'An error occured'|i18n}}</strong>
        <p>{{message}}</p>
    </span>
</script>

<script type="text/ng-template" id="extendableInputList">
<ul class="extendableInputList">
    <div ng-repeat="item in extendableInputListBinds">
        <li>
            <label>{{listPrefix}}{{$index}}:
            <input type="text" class="_extendableInputListItem inputField input-medium" float
            ng-blur="update()"
            ng-click="focusOn(this)"
            ng-model="items[$index]">
            </label>
        </li>
    </div>

    <div>
        <li>
            <label>{{listPrefix}}{{extendableInputListBinds.length}}:
            <input type="text" class="_extendableInputListItem inputField input-medium" float
                id="_extendableInputListNewInput"
                ng-blur="blured=true;waitForFocus();"
                ng-change="showNext=true"
                ng-model="items[extendableInputListBinds.length]">
            </label>
        </li>
    </div>

    <div ng-show="showNext">
        <li>
            <label>{{listPrefix}}{{extendableInputListBinds.length + 1}}:
            <input type="text" class="_extendableInputListItem inputField input-medium" float
                ng-focus="update()"
                ng-model="items[extendableInputListBinds.length + 1]">
            </label>
        </li>
    </div>
</ul>
</script>
