<script type="text/ng-template" id="error_messages">
    <div ng-show="!angularElement.$pristine && angularElement.$error.required">{{'This field is required'|i18n}}</div>
    <div ng-show="!angularElement.$pristine && angularElement.$error.url">{{'Invalid URL'|i18n}}</div>
    <div ng-show="!angularElement.$pristine && angularElement.$error.number">{{'Invalid number'|i18n}}</div>
    <div ng-show="!angularElement.$pristine && angularElement.$error.float">{{'Invalid float'|i18n}}</div>
    <div ng-show="!angularElement.$pristine && angularElement.$error.integer">{{'Invalid integer'|i18n}}</div>
</script>

<script type="text/ng-template" id="checkbox_label">
    <div class="control-group" ng-class="{'error': invalid, 'warning': warning}">
        <div class="controls">
            <label class="control-label" for="{{name}}">
                <span ng-transclude></span> {{getText()}}
                <span ng-include="'error_messages'" class="text-error"></span>
                <i class="pull-right icon-warning-sign" ng-show="warning" tooltip="tooltip" tooltip-content="{{warningMsg()}}"></i>
            </label>

        </div>
    </div>
</script>

<script type="text/ng-template" id="input_label">
    <div class="control-group" ng-class="{'error': invalid, 'warning': warning}">
        <label class="control-label" for="{{name}}">{{getText()}}:</label>
        <div class="controls">
            <span ng-transclude></span>
            <i class="pull-right icon-warning-sign" ng-show="warning" tooltip="tooltip" tooltip-content="{{warningMsg()}}"></i>
            <span ng-include="'error_messages'" class="text-error"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="success">
    <span class='text-success save_ok' ng-show='false'>
        <i class='icon-ok'></i>
        <strong>{{message}}</strong>
    </span>
</script>

<script type="text/ng-template" id="error">
    <span class='text-error' ng-show='false'>
        <i class='icon-remove-circle'></i>
        <strong>{{'An error occured'|i18n}}</strong>
        <p>{{message}}</p>
    </span>
</script>
