<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="mapproxy_gui">
  <head>
    <title>Mapproxy GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/openlayers.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap-responsive.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/jquery-ui-1.10.0.bootstrap.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/custom.css') }">
    % if defined('css'):
      %css()
    % end

    % if defined('preload_block') and hasattr(preload_block, '__call__'):
      <script type="text/javascript">
        %preload_block()
      </script>
    %end

    <!--[if lte IE 8]>
      <script type="text/javascript" src="${ get_url('static', filepath='js/ie8_fixtures.js')}"></script>
    <![endif]-->

    <!-- libs -->
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-1.9.1.min.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-ui-1.10.3.custom.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery.placeholder.min.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-locale_de-de.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.extensions.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-resource.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/bootstrap.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/OpenLayers-2.13.min.custom.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/delete.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/string.format.js') }"></script>

    <!-- site libs -->
    <script type="text/javascript" src="${ get_url('static', filepath='js/mapproxy_gui.js') }"></script>
    <script type="text/javascript">
      include_requireds("${ get_url('static', filepath='js/') }")
    </script>
    % if defined('jsblock') and hasattr(jsblock, '__call__'):
      %jsblock()
    %end
    <script type="text/javascript">
      /* Set OpenLayers ImgPath */
        OpenLayers.ImgPath = "${ get_url('static', filepath='img/') }";

      /* add directives and services*/
        var app = angular.module('mapproxy_gui', ['angular.extensions', 'mapproxy_gui.directives', 'mapproxy_gui.services', 'mapproxy_gui.validators', 'mapproxy_gui.messages', 'mapproxy_gui.tooltips', 'mapproxy_gui.openlayers']);

      /* app defaults */
        app.value('PAGE_LEAVE_MSG', "${ _('You have unsaved changes in this form. Realy leave the page and disgard unsaved changes?') }");
        app.value('SRS', "EPSG:4326");
        app.value('NON_TRANSPARENT_FORMATS', ["JPEG", "GIF"]);
        app.value('BACKGROUND_SERVICE_TITLE', '${ _("Background Layer") }');
        app.value('BACKGROUND_SERVICE_URL', "http://osm.omniscale.net/proxy/service?");
        app.value('BACKGROUND_SERVICE_LAYER', "osm");
        app.value('MAPPROXY_DEFAULT_GRID_SRS', ["EPSG:4326", "EPSG:900913", "EPSG:3857", "EPSG:102100", "EPSG:102113"]);
        app.value('BBOXES', {
          'EPSG:4326': [-180, -90, 180, 90],
          'EPSG:3857': [-20037508.342789236,-20037508.342789236,20037508.342789236,20037508.342789236],
          'EPSG:900913': [-20037508.342789236,-20037508.342789236,20037508.342789236,20037508.342789236]
        });

        %if defined('project'):
          app.value('CREATE_CONFIG_URL', '${ get_url('write_config', project=project)}');
        % end

      /* OpenLayers directive defaults */
        angular.module('mapproxy_gui.openlayers').value('GRID_AS_GEOJSON_URL', "${ get_url('grid_as_geojson') }");
        angular.module('mapproxy_gui.openlayers').value('LAYERSWITCHER_TEMPLATE_URL', "${ get_url('angular_template', filename='layerswitcher') }");
        angular.module('mapproxy_gui.openlayers').value('OPENLAYERSMAP_TEMPLATE_URL', "${ get_url('angular_template', filename='openlayersmap') }");
        angular.module('mapproxy_gui.openlayers').value('DPI', 72);
        angular.module('mapproxy_gui.openlayers').value('NUM_ZOOM_LEVELS', 16);
        angular.module('mapproxy_gui.openlayers').value('GRID_START_LEVEL', 0);
        angular.module('mapproxy_gui.openlayers').value('GRID_MAX_LEVEL', 20);
        angular.module('mapproxy_gui.openlayers').value('GRID_EXTENSION_TEMPLATE_URL', "${ get_url('angular_template', filename='openlayers_gridextension.html') }");

      /* Message directive defaults */
        angular.module('mapproxy_gui.messages').value('FADEOUT_DELAY', 2000);

      /* Other directive defaults */
        angular.module('mapproxy_gui.directives').value('EDITAREA_TEMPLATE_URL', "${ get_url('angular_template', filename='editarea') }");
        angular.module('mapproxy_gui.directives').value('EXTENDABLE_INPUT_LIST_TEMPLATE_URL', "${ get_url('angular_template', filename='extendable_input_list') }");

        app.run(function($rootScope, tooltipMapper, TranslationService) {
          $rootScope.LANGUAGE = '${ language }';
          % if defined('project') and project != None:
            $rootScope.PROJECT = '${ project }';
          %end
          tooltipMapper.loadDict("${ get_url('resource', filename='tooltips.%s.js' % language) }");
          TranslationService.loadDict("${ get_url('resource', filename='translations.js') }");

        });

        /* set placeholder text for ie9 and browser who not support placeholder */
        $(document).ready(function() {
          $('input, textarea').placeholder();
        })

     </script>
    %include angular/base_templates
  </head>
  <body ng-cloak>
    <div id="wrapper">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div>
            <a class="brand" href="/">
              <img src="${ get_url('static', filepath='img/logo.png') }">
            </a>
            <ul class="nav">
              <li class="
                %if defined('active') and active == 'projects':
                  active
                %end
                ">
                <a href="${ get_url('projects') }">${ _('Projects') }</a>
              </li>

              %if defined('project') and project != None:
              <li class="
                %if defined('active') and active == 'conf':
                  active
                %end
              ">
                <a href="${ get_url('configuration', project=project) }">${ _('Configuration') }</a>
              </li>
              %end
            </ul>

            %if defined('project') and project != None:
            <div class="pull-right project-name">
                <span class="text-info">${ _('working on project') }: <strong>${project}</strong></span>
            </div>
            %end

          </div>
        </div>
      </div><!-- /.navbar -->
      <div class="sitebar-wrapper">
        <div class="shadow"></div>
        <div class="sitebar container-fluid">
          % if defined('site_navbar'):
            %site_navbar()
          % end
        </div>
      </div>
      <div class="content container-fluid">
        <div class="row-fluid">
          % if defined('content'):
            %content()
          % end
        </div>
      </div>
      <div id="push"></div>
    </div>
    <footer>
      <div class="contents container-fluid">
        <ul class="footer-nav">
          <li><a href="/">${ _('Home') }</a></li>
          <li><a href="http://www.mapproxy.org/">${ _('Mapproxy') }</a></li>
          <li><a href="http://omniscale.de/kontakt" target="_blank">${ _('Contact') }</a></li>
          <li><a href="">${ _('Help') }</a></li>
        </ul>
        <span id="copyright">&copy; 2013 - Omniscale GmbH & Co. KG</span>
      </div>
    </footer>

  </body>
</html>
