%def site_navbar():
  <a href="${ get_url('configuration', project=project) }">
    <h2 class="pull-left tab-menu-header">
      ${ _('Configuration') }
    </h2>
  </a>
  % if not demo:
  <div ng-controller="MapProxyConfigCtrl" class="pull-right">
    <div>
      <button class="btn btn-small" ng-click="writeMapProxyConfig($event)">
        ${ _('create configuration') }
      </button>
    </div>
    <div message-handler="success" message-types="mapproxy_config.success"></div>
    <div message-handler="error" message-types="mapproxy_config.error"></div>
  </div>
  % else:
    <p class="text-error pull-right"> ${ _('demo project - create mapproxy config not possible') }</p>
  % end
  <ul class="nav nav-tabs tab-menu">
    %navigation("sources", _('Sources'))
    %navigation("grids", _('Grids'))
    %navigation("caches", _('Caches'))
    %navigation("layers", _('Layers'))
    %navigation("services", _('Services'))
    %navigation("globals", _('Globals'))
  </ul>
% end

%def content():
  % if not defined('base_content'):
    % if defined('leftblock'):
      <div class="span3 leftblock">
        %leftblock()
      </div>
    % end
    % if defined('middleblock'):
      <div class="span5 middleblock">
        %middleblock()
      </div>
    % end
    % if defined('rightblock'):
      <div class="span4 rightblock">
        %rightblock()
      </div>
    % end
  % else:
    %base_content()
  % end
%end


%def navigation(id, title):
  <li
    %if defined('active') and id == active:
      class="active"
    %end
    id="${id}">
      <a href="${ get_url(id, project=project)}">${title}</a>
  </li>
%end

%rebase base content=content, site_navbar=site_navbar, language=get('language'), jsblock=get('jsblock'), project=get('project')
