%def site_navbar():
    <a href="${ get_url('configuration', project='base') }">
      <h2 class="pull-left tab-menu-header">
        {{'Configuration'|i18n}}
      </h2>
    </a>
    <div ng-controller="MapProxyConfigCtrl" class="pull-right">
      <div>
          <button class="btn btn-small" ng-click="writeMapProxyConfig($event)">
            {{'create configuration'|i18n}}
          </button>
      </div>
      <div message-handler="success" message-types="mapproxy_config.success"></div>
      <div message-handler="error" message-types="mapproxy_config.error"></div>
    </div>
    <ul class="nav nav-tabs tab-menu">
      %navigation("sources", "{{'Sources'|i18n}}")
      %navigation("grids", "{{'Grids'|i18n}}")
      %navigation("caches", "{{'Caches'|i18n}}" )
      %navigation("layers", "{{'Layers'|i18n}}" )
      %navigation("services", "{{'Services'|i18n}}" )
      %navigation("globals", "{{'Globals'|i18n}}")
    </ul>

% end

%def content():
  % if not defined('base_content'):
    % if defined('leftblock'):
    <div class="span3 leftblock">
      %leftblock()
    </div>
    % end
    % if defined('middleblock'):
    <div class="span5 middleblock">
      %middleblock()
    </div>
    % end
    % if defined('rightblock'):
    <div class="span4 rightblock">
      %rightblock()
    </div>
    % end
  % else:
    %base_content()
  % end
%end


%def navigation(id, title):
  <li
    %if defined('active') and id == active:
      class="active"
    %end
    id="${id}">
      <a href="${ get_url(id, project=project)}">${title}</a>
  </li>
%end

%rebase base content=content, site_navbar=site_navbar, language=get('language'), jsblock=get('jsblock')