<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="mapproxy_gui">
  <head>
    <title>Mapproxy GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/openlayers.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/toolbar.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap-responsive.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/jquery-ui-1.10.0.bootstrap.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/jquery-ui.css') }">

    <link rel="stylesheet" href="${ get_url('static', filepath='css/custom.css') }">
    % if defined('css'):
      %css()
    % end

    <!--[if lte IE 8]>
      <script type="text/javascript" src="${ get_url('static', filepath='js/ie8_fixtures.js')}"></script>
    <![endif]-->

    <!-- libs -->
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-1.9.1.min.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-ui-1.10.0.custom.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery.blockUI.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-locale_de-de.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.extensions.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-resource.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/localize.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/bootstrap.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/OpenLayers-2.12.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/delete.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/string.format.js') }"></script>

    <!-- site libs -->
    <script type="text/javascript" src="${ get_url('static', filepath='js/helper.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/validators.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/resources.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/services.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/modules/messages.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/modules/tooltips.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/directives.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/modules/openlayers.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/controllers.js') }"></script>
    % if defined('jsblock') and hasattr(jsblock, '__call__'):
      %jsblock()
    %end
    <script type="text/javascript">
      /* overwrite styling from block ui for openlayers map*/
      $.blockUI.defaults.overlayCSS = {};
      $.blockUI.defaults.css = {};

      /* Set OpenLayers ImgPath */
        OpenLayers.ImgPath = "${ get_url('static', filepath='img/') }";

      /* add directives and services*/
        var app = angular.module('mapproxy_gui', ['angular.extensions', 'localization', 'mapproxy_gui.directives', 'mapproxy_gui.services', 'mapproxy_gui.validators', 'mapproxy_gui.messages', 'mapproxy_gui.tooltips', 'mapproxy_gui.openlayers']);

      /* Set globals */
        angular.module('mapproxy_gui.openlayers').value('TRANSFORM_BBOX_URL', "${ get_url('transform_bbox') }");
        angular.module('mapproxy_gui.openlayers').value('TRANSFORM_GRID_URL', "${ get_url('transform_grid') }");
        app.run(function($rootScope, tooltipMapper) {
          tooltipMapper.loadDict("${ get_url('static', filepath='resources/tooltip_dict.js') }");
          $rootScope.LANGUAGE = '${ language }';
        });

    </script>
    %include angular_templates
  </head>
  <body>
    <div id="wrapper">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">MPG</a>
            <ul class="nav">
              <li><a href="${ get_url('projects') }">${ _('Projects') }</a></li>
              <li><a href="${ get_url('configuration', project='base') }">${ _('Configuration') }</a></li>
            </ul>
          </div>
        </div>
      </div><!-- /.navbar -->
      <div class="sitebar-wrapper">
        <div class="shadow"></div>
        <div class="sitebar container">
          % if defined('site_navbar'):
            %site_navbar()
          % end
        </div>
      </div>
      <div class="container content">
        <div class="row-fluid">
          % if defined('content'):
            %content()
          % end
        </div>
      </div>
      <footer>
        &copy; 2013 - Omniscale GmbH & Co. KG
      </footer>
    </div>
  </body>
</html>
