<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="mapproxy_gui">
  <head>
    <title>Mapproxy GUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/openlayers.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap.css') }">
    <!-- <link rel="stylesheet" href="${ get_url('static', filepath='css/custom.css') }"> -->
    <link rel="stylesheet" href="${ get_url('static', filepath='css/bootstrap-customizations.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/jquery-ui-customizations.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/site.css') }">
    <link rel="stylesheet" href="${ get_url('static', filepath='css/directives.css') }">
    % if defined('css'):
      %css()
    % end

    <script type="text/javascript" src="${ get_url('resource', filename='translations.js') }"></script>
    % if defined('preload_block') and hasattr(preload_block, '__call__'):
      <script type="text/javascript">
        %preload_block()
      </script>
    %end

    <!--[if lte IE 8]>
      <script type="text/javascript" src="${ get_url('static', filepath='js/ie8_fixtures.js')}"></script>
    <![endif]-->

    <!-- libs -->
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-1.9.1.min.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery-ui-1.10.3.custom.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/jquery.placeholder.min.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-locale_de-de.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular.extensions.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/angular-resource.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/bootstrap.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/lib/OpenLayers-2.13.min.custom.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/delete.js') }"></script>
    <script type="text/javascript" src="${ get_url('static', filepath='js/openlayers.extensions/string.format.js') }"></script>

    <!-- site libs -->
    <script type="text/javascript" src="${ get_url('resource', filename='base.js') }"></script>
    <script type="text/javascript">
      include_requireds("${ get_url('static', filepath='js/') }")
    </script>
    % if defined('jsblock') and hasattr(jsblock, '__call__'):
      %jsblock()
    %end
    <script type="text/javascript">
      /* add directives and services*/
        var app = angular.module('mapproxy_gui', ['angular.extensions', 'mapproxy_gui.directives', 'mapproxy_gui.services', 'mapproxy_gui.validators', 'mapproxy_gui.messages', 'mapproxy_gui.tooltips', 'mapproxy_gui.openlayers', 'mapproxy_gui.resScales']);

        var project, write_config_url;
        %if defined('project'):
          project = '${ project }';
          write_config_url = '${ get_url('write_config', project=project) }';
        % end
        var language = '${ language }';

        setDefaults(app, language, project, write_config_url);

     </script>
    %include angular/base_templates
  </head>
  <body ng-cloak>
    <div id="wrapper">
      <!-- navbar -->
      <div class="navbar navbar-static-top">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img height="53" width="200" src="${ get_url('static', filepath='img/mapproxy_conf.png') }" alt="MapProxy Configuration Tool Logo">
            </a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="
                %if defined('active') and active == 'projects':
                  active
                %end
                ">
                <a href="${ get_url('projects') }">${ _('Projects') }</a>
              </li>
              %if defined('project') and project != None:
                <li class="
                  %if defined('active') and active == 'conf':
                    active
                  %end
                ">
                  <a href="${ get_url('configuration', project=project) }">${ _('Configuration') }</a>
                </li>
              %end
            </ul>
            <ul class="loginbar pull-right">
              %if defined('project') and project != None:
                % if demo:
                  <li>
                    <span class="text-info">${ _('demo modus') }</span>
                  </li>
                % else:
                  <li>
                    <span class="text-info">${ _('working on project') }: <strong>${project}</strong></span>
                  </li>
                % end
              % end
              %if ( len(supported_languages) > 1):
                <li class="divider"></li>
                %for lang in get('supported_languages', []):
                  <li><a href="?language=${ lang }">${ lang.upper() }</a></li>
                % end
              %end
            </ul>
          </div>
        </div>
      </div>
      <!-- /navbar -->
      <!-- sitebar-->
      <div class="sitebar-wrapper">
        <div class="shadow"></div>
        <div class="sitebar container-fluid">
          % if defined('site_navbar'):
            %site_navbar()
          % end
        </div>
      </div>
      <!-- /navbar -->
      <!-- content -->
      <div class="content container-fluid">
        <div class="row">
          % if defined('content'):
            %content()
          % end
        </div>
      </div>
      <!-- /content -->
      <div id="push"></div>
    </div>
    <footer>
      <div class="container-fluid">
        <ul class="footer-nav">
          <li><a href="/">${ _('Home') }</a></li>
          <li><a href="http://www.mapproxy.org/">${ _('Mapproxy Homepage') }</a></li>
          <li>
            % if language == 'de':
            <a href="http://omniscale.de/kontakt" target="_blank">
            % else:
            <a href="http://omniscale.com/contact" target="_blank">
            % end
            ${ _('Contact') }</a></li>
          <li>
            % if language == 'de':
            <a href="http://omniscale.de/impressum" target="_blank">
            % else:
            <a href="http://omniscale.com/imprint" target="_blank">
            % end
            ${ _('Imprint') }</a></li>
        </ul>
        <span id="copyright">&copy; 2014 - Omniscale GmbH & Co. KG</span>
      </div>
    </footer>
  </body>
</html>
