%def leftblock():
<div ng-controller="MapproxyCacheListCtrl">
    <button class="btn btn-small btn-info pull-right" ng-click="newCache()">
      <span class="icon-plus-sign icon-white" ></span>
      New cache</button>

    <h3>Cache</h3>
    <ul class="vertical-list">
      <hr>
      <div class="{{isSelected(cache)}}" ng-repeat="cache in mapproxy_caches | orderBy:'name'"
      ng-click="editCache(cache)">
        <li>{{cache.name}}
          <i class="icon-remove"
             ask-dialog
             dialog-title="Confirm!"
             dialog-text='Really remove cache "{{cache.name}}"?'
             callback="removeCache(cache)">
          </i>
        </li>
        <hr>
      </div>
    </ul>
  </div>
%end

%def middleblock():
<div ng-controller="MapproxyCacheFormCtrl">
  <form name="cache_form" ng-model="cache">
    <h3>{{formTitle}}</h3>
    <!-- name -->
        <div labeled="input_label" name-for="cache_form.cache_name" text="Name">
            <input required class="input-xlarge" type="text" ng-model="cache.name" id="cache_form.cache_name"/>
        </div>
    <!-- sources -->
        <!-- change-callback MUST provide parameters callback and new_data -->
        <div labeled="input_label" name-for="cache_form.sources" text="Sources">
            <div
                droppable
                required
                accepts="mapproxy_source"
                allow-array="true"
                ng-model="cache.sources"
                name="cache_form.sources"
                use-key-for-value="_id"
                class="input-xlarge insertable-list uneditable-input">
                <div sortable ng-model="cache.sources" >
                    <div ng-repeat="source in cache.sources" class="label">
                        <span ng-bind="showName(source)"></span>
                        <i class="icon-remove" ng-click="remove(source)"></i>
                    </div>
                </div>
            </div>
        </div>
    <!-- grids XXXkai: replace by received list of supported srs combined with user defined grids-->
        <div labeled="input_label" name-for="cache_form.grids" text="Grids">
            <select class="input-xlarge" ng-model="cache.grids" id="cache_form.grids" multiple="multiple" ng-options="value._id as value.name for value in available_grids"/>
            </select>
        </div>
    </form>
    <button class="btn btn-small" ng-click="addCache($event)" ng-disabled="!cache_form.$valid">Save</button>
    <button class="btn btn-small" ng-click="resetForm($event)">Reset</button>
    <span class="text-success" id="cache_save_ok" ng-show="false">
      <i class="icon-ok"></i>
       <strong>Saved successfully</strong>
    </span>
</div>
%end

%def rightblock():
<div ng-controller="MapproxySourceListCtrl">
    <h3>Sources</h3>
    <ul class="vertical-list">
      <div draggable class="mapproxy_source" ng-repeat="source in mapproxy_sources | orderBy:'name'"
          item-data="{{source}}">
        <li class="droppable_name">
            {{source.name}}
        </li>
        <hr>
      </div>
    </ul>
</div>
%end

%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock,  project=get('project'), active='caches'