%def leftblock():
<div ng-controller="CacheListCtrl">
  <button class="btn btn-small btn-add pull-right" ng-click="newItem()">
    <span class="icon-plus-sign icon-white" ></span>
    ${ __('Create new cache') }
  </button>

  <h3>${ __('Cache') }</h3>
  <span message-handler="success" message-types="caches.delete_success"></span>
  <span message-handler="error" message-types="caches.load_error,caches.delete_error"></span>
  <div>
    <input type="text" ng-model="search" placeholder="${ __('Filter') }..."/>
    <br>
    <span ng-show="list.length - filtered.length" ng-click="search=''">${ __('Not shown caches') }: {{list.length - filtered.length}}</span>
  </div>
  <ul class="vertical-list">
    <div class="{{isSelected(item)}}" ng-repeat="item in filtered = (list | filter:{data.name:search}) | orderBy:'name'"
      ng-click="editItem($event, item)">
      <li>
        <i ng-show="item._manual" class="icon-pencil"></i>
        {{item.data.name}}
        <i ng-show="!hasDependencies(item)" class="icon-remove"
           dialog="ask"
           dialog-title="${ __('Confirm!') }"
           dialog-text="${ __('Really remove cache:') } {{item.data.name}}?"
           callback="removeItem($event, item)">
        </i>
        <i ng-show="hasDependencies(item)" class="icon-remove"
          dialog="confirm"
          dialog-width="600"
          dialog-height="300"
          dialog-title="Confirm!"
          dialog-text="${ __('Can not remove cache:') } {{item.data.name}}<br>${ __('Dependencies are:') }<br>{{getDependencies(item)}}">
        </i>
        <i class="icon-share" ng-click="copyItem($event, item)"></i>
      </li>
    </div>
  </ul>
  <span ng-show="false">{{mapproxy_caches.length - filtered.length}}</span>
</div>
%end

%def middleblock():
<div ng-controller="MapproxyCacheFormCtrl">
  <form name="form" ng-model="cache" ng-show="!editareaBinds.visible">
    <h3>{{formTitle|i18n}}</h3>
    <!-- name -->
    <div labeled="input_label" name-for="cache_name" text="${ __('Name') }">
        <input required class="input-xlarge" type="text" ng-model="cache.data.name" id="cache_name" name="cache_name"/>
    </div>
    <!-- sources -->
      <!-- change-callback MUST provide parameters callback and new_data -->
    <div labeled="input_label" name-for="sources" text="${ __('Sources') }">
        <div
            droppable
            sortable
            required
            accepts="mapproxy_source,mapproxy_cache"
            insert-callback="checkName(callback, new_item)"
            allow-array="true"
            ng-model="cache.data.sources"
            name="sources"
            id="sources"
            use-key-for-value="_id"
            class="input-xlarge insertable-list uneditable-input">
            <div ng-repeat="source in cache.data.sources" class="label">
              <span ng-bind="showName(source)"></span>
              <i class="icon-remove" ng-click="remove(source)"></i>
            </div>
        </div>
    </div>
    <div labeled="input_label" name-for="grids" text="${ __('Grids') }">
      <div
        droppable
        accepts="mapproxy_grid"
        ng-model="cache.data.grids"
        allow-array="true"
        name="grids"
        id="grids"
        use-key-for-value="_id"
        class="input-xlarge insertable-list uneditable-input">
        <div ng-repeat="grid in cache.data.grids" class="label">
          <span ng-bind="showName(grid)">{{grid}}</span>
          <i class="icon-remove" ng-click="remove(grid)"></i>
        </div>
      </div>
    </div>
    <div labeled="input_label" name-for="format" text="${ __('Format') }">
      <select class="input-xlarge" ng-model="cache.data.format" id="format" name="format">
        <option value="mixed">Mixed</option>
        <option value="image/png">Image/PNG</option>
        <option value="image/jpeg">Image/JPEG</option>
      </select>
    </div>
    <div labeled="input_label" name-for="request_format" text="${ __('Request format') }">
      <select class="input-xlarge" ng-model="cache.data.request_format" id="request_format" name="request_format">
        <option value="image/png">Image/PNG</option>
        <option value="image/jpeg">Image/JPEG</option>
      </select>
    </div>
    <div class="pull-left">
      <button class="btn btn-small" ng-click="addCache($event)" ng-disabled="!form.$valid" id="form_save" ng-class="{'btn-success': form.$valid}">${ __('Save') }</button>
      <button class="btn btn-small" ng-click="resetForm($event)">${ __('Reset') }</button>
      <button class="btn btn-small" ng-click="copyCache($event)">${ __('Copy') }</button>
    </div>
    <div id="_editarea_toggle_button_container" class="pull-right"></div>

  </form>
  <div editarea="editareaBinds"
    yaml-URL="${get_url('json_to_yaml')}"
    json-URL="${get_url('yaml_to_json')}"
    keep-empty-fields="name">
  </div>
  <div class="clear">
    <span message-handler="success" message-types="caches.add_success,caches.update_success"></span>
    <span message-handler="error" message-types="caches.add_error,caches.update_error,caches.form_error"></span>
  </div>
</div>
%end

%def rightblock():
<div>
  <span ng-controller="SourceListCtrl">
    <h3>${ __('Sources') }</h3>
    <span message-handler="error" message-types="sources.load_error"></span>
    <div>
      <input type="text" ng-model="search" placeholder="${ __('Filter') }..."/>
      <br>
      <span ng-show="list.length - filtered.length" ng-click="search=''">${ __('Not shown sources') }: {{list.length - filtered.length}}</span>
    </div>
    <ul class="vertical-list small">
      <div draggable class="mapproxy_source" ng-repeat="item in filtered = (list | filter:{data.name:search}) | orderBy:'name'" item-data="{{item}}">
        <li class="droppable_name">
            {{item.data.name}}
            <i class="icon-info-sign pull-right" dialog="confirm" dialog-title="${ __('Informations') }" dialog-height="300" dialog-text="{{getInfos(item)}}"></i>
        </li>
      </div>
    </ul>
    <span ng-show="false">{{filtered.length}}</span>
  </span>
  <hr>
  <span ng-controller="CacheListCtrl">
    <h3>${ __('Caches') }</h3>
    <span message-handler="error" message-types="caches.load_error"></span>
    <div>
      <input type="text" ng-model="search" placeholder="${ __('Filter') }..."/>
      <br>
      <span ng-show="list.length - filtered.length" ng-click="search=''">${ __('Not shown caches') }: {{list.length - filtered.length}}</span>
    </div>
    <ul class="vertical-list small">
      <div
        draggable
        class="mapproxy_cache"
        ng-repeat="item in filtered = (list | filter:{data.name:search}) | orderBy:'name'"
        item-data="{{item}}">
        <li class="droppable_name">
          {{item.data.name}}
          <i class="icon-info-sign pull-right" dialog="confirm" dialog-title="${ __('Informations') }" dialog-height="300" dialog-text="{{getInfos(item)}}"></i>
        </li>
      </div>
    </ul>
    <span ng-show="false">{{filtered.length}}</span>
  </span>
  <hr>
  <div ng-controller="GridListCtrl">
    <h3>${ __('Grids') }</h3>
    <span message-handler="error" message-types="grids.load_error"></span>
    <div>
      <input type="text" ng-model="search" placeholder="${ __('Filter') }..."/>
      <br>
      <span ng-show="(list.concat(default_grids)).length - filtered.length" ng-click="search=''">${ __('Not shown grids') }: {{(list.concat(default_grids)).length - filtered.length}}</span>
    </div>
    <ul class="vertical-list small">
      <div
        draggable
        class="mapproxy_grid"
        ng-repeat="item in filtered = (list.concat(default_grids) | filter: {data.name:search}) | orderBy:'name'"
        item-data="{{grid}}">
        <li class="droppable_name" ng-class="{'locked-grid': item._locked}">
          <i ng-show="item._locked || item.default" class="icon-ok"></i>
          <i ng-show="!item._locked && !item.default" class="icon-warning-sign"></i>
          {{item.data.name}}
          <i class="icon-info-sign pull-right" dialog="confirm" dialog-title="${ __('Informations') }" dialog-height="300" dialog-text="{{getInfos(item)}}"></i>
        </li>
      </div>
    </ul>
    <span ng-show="false">{{filtered.length}}</span>
  </div>
</div>
%end

%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock,  project=get('project'), language=get('language'), active='caches'