%def content():
<div class="span5">
<p>{{'The MapProxy configuration is grouped into sections, each configures a different aspect of MapProxy. These are the following sections:'|i18n}}</p>
  <dl>
    <dt>{{'Globals'|i18n}}</dt>
    <dd>{{'Internals of MapProxy and default values that are used in the other configuration sections.'|i18n}}</dd>
    <dt>{{'Sources'|i18n}}</dt>
    <dd>{{'Define where MapProxy can retrieve new data.'|i18n}}</dd>
    <dt>{{'Caches'|i18n}}</dt>
    <dd>{{'Configure the internal caches.'|i18n}}</dd>
    <dt>{{'Grids'|i18n}}</dt>
    <dd>{{'Define the grids that MapProxy uses to aligns cached images.'|i18n}}</dd>
    <dt>{{'Layers'|i18n}}</dt>
    <dd>{{'Configure the layers that MapProxy offers. Each layer can consist of multiple sources and caches.'|i18n}}</dd>
    <dt>{{'Services'|i18n}}</dt>
    <dd>{{'The services MapProxy offers, e.g. WMS or TMS.'|i18n}}</dd>
  </dl>
</div>
%end

%rebase base_config base_content=content, project=get('project'), language=get('language')