%def content():
<div class="span5">
<p>${ __('The MapProxy configuration is grouped into sections, each configures a different aspect of MapProxy. These are the following sections:') }</p>
  <dl>
    <dt>${ __('Globals') }</dt>
    <dd>${ __('Internals of MapProxy and default values that are used in the other configuration sections.') }</dd>
    <dt>${ __('Sources') }</dt>
    <dd>${ __('Define where MapProxy can retrieve new data.') }</dd>
    <dt>${ __('Caches') }</dt>
    <dd>${ __('Configure the internal caches.') }</dd>
    <dt>${ __('Grids') }</dt>
    <dd>${ __('Define the grids that MapProxy uses to aligns cached images.') }</dd>
    <dt>${ __('Layers') }</dt>
    <dd>${ __('Configure the layers that MapProxy offers. Each layer can consist of multiple sources and caches.') }</dd>
    <dt>${ __('Services') }</dt>
    <dd>${ __('The services MapProxy offers, e.g. WMS or TMS.') }</dd>
  </dl>
</div>
%end

%rebase base_config base_content=content, project=get('project'), language=get('language')