%def leftblock():
    <div ng-controller="MapproxyGlobalsChooserCtrl" ng-show="!_editarea_visible">
        <h3>{{'Globals'|i18n}}</h3>
        <ul class="vertical-list">
            <div class="{{getClasses(global)}}"
                ng-repeat="(global, data) in globals.data"
                ng-click="show(global)">
                <li>{{global|i18n}}</li>
            </div>
        </ul>
    </div>
    <hr>
    <div id="_editarea_toggle_button_container"></div>
%end

%def middleblock():
<script type="text/ng-template" id="cache.html">
    <h3>{{'cache'|i18n}}</h3>
    <div labeled="input_label" name-for="form.cache_meta_size" text="{{'Meta size'|i18n}}">
        <input type="number" min=0 ng-model="globals.data.cache.meta_size[0]" class="input-mini" id="form.cache_meta_size" />
        <input type="number" min=0 ng-model="globals.data.cache.meta_size[1]" class="input-mini" id="form.cache_meta_size_1" />
    </div>
    <div labeled="input_label" name-for="form.cache_meta_buffer" text="{{'Meta buffer'|i18n}}">
        <input type="number" min=1 ng-model="globals.data.cache.meta_buffer" id="form.cache_meta_buffer">
    </div>
</script>
<script type="text/ng-template" id="image.html">
    <h3>{{'image'|i18n}}</h3>
    <div labeled="input_label" name-for="form.image_resampling_method" text="{{'Resampling method'|i18n}}">
        <select ng-model="globals.data.image.resampling_method" id="form.image_resampling_method">
            <option value="nearest">Nearest</option>
            <option value="bilinear">Bilinear</option>
            <option value="bicubic">Bicubic</option>
        </select>
    </div>
    <div labeled="checkbox_label" name-for="form.image_paletted" text="{{'Paletted'|i18n}}">
        <input type="checkbox" ng-model="globals.data.image.paletted" id="form.image_paletted">
    </div>
</script>
<div ng-controller="MapproxyGlobalsFormCtrl">
    <h3 ng-show="globals._manual || editareaBinds.visible">{{'Globals'|i18n}}</h3>
    <form name="form" novalidate ng-show="!editareaBinds.visible">
        <div ng-include src="template"></div>

        <button class="btn btn-small" ng-click="save($event)" ng-disabled="!form.$valid" id="form_save" ng-class="{'btn-success': form.$valid}">{{'Save'|i18n}}</button>
    </form>
    <hr ng-show="!editareaBinds.visible">
    <div editarea="editareaBinds"
        yaml-URL="${get_url('json_to_yaml')}"
        json-URL="${get_url('yaml_to_json')}">
    </div>
    <div>
        <span message-handler="success" message-types="globals.add_success,globals.update_success"></span>
        <span message-handler="error" message-types="globals.load_error,globals.add_error,globals.update_error,globals.form_error"></span>
    </div>
</div>
%end

%def rightblock():
  &nbsp;
%end

%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock, project=get('project'), language=get('language'), active='globals'