%def leftblock():
  &nbsp;
%end

%def middleblock():
<div>
    <h3>{{'Globals'|i18n}}</h3>
    <div ng-controller="MapproxyGlobalsFormCtrl">
        <form name="globals_form" novalidate>
            <div labeled="input_label" name-for="globals_form.cache_meta_size" text="{{'Meta size'|i18n}}">
                <input type="number" min=0 ng-model="globals.cache.meta_size[0]" class="input-mini" id="globals_form.cache_meta_size" />
                <input type="number" min=0 ng-model="globals.cache.meta_size[1]" class="input-mini" id="globals_form.cache_meta_size_1" />
            </div>
            <div labeled="input_label" name-for="globals_form.cache_meta_buffer" text="{{'Meta buffer'|i18n}}">
                <input type="number" min=1 ng-model="globals.cache.meta_buffer" id="globals_form.cache_meta_buffer">
            </div>
            <button class="btn btn-small" ng-click="save($event)" ng-disabled="!globals_form.$valid" id="globals_form_save">{{'Save'|i18n}}</button>
            <span class="text-success save_ok" ng-show="false">
                <i class="icon-ok"></i>
                <strong>{{'Saved successfully'|i18n}}</strong>
            </span>
            <span class="text-error" id="globals_service_error" ng-show="false">
                <i class="icon-thumbs-down"></i>
                <strong>{{'An error occured'|i18n}}</strong>
                <p>{{errorMsg}}</p>
            </span>
        </form>
    </div>
</div>
%end

%def rightblock():
  &nbsp;
%end

%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock, project=get('project'), active='globals'