%def leftblock():
  <div ng-controller="MapproxyGridListCtrl">

    <h3>{{'Default grids'|i18n}}</h3>
    <span class="text-error" id="gridlist_service_error" ng-show="false">
      <i class="icon-thumbs-down"></i>
      <strong>{{'An error occured'|i18n}}</strong>
      <p>{{gridlistErrorMsg}}</p>
    </span>
     <ul class="vertical-list">
      <hr>
       <div class="{{isSelected(grid)}}" ng-repeat="grid in default_grids | orderBy:'name'"
        ng-click="editGrid(grid)">
         <li>{{grid.name}}
        </li>
        <hr>
      </div>
    </ul>
    <hr>
    <button class="btn btn-small btn-info pull-right" ng-click="newGrid()">
      <span class="icon-plus-sign icon-white" ></span>
      {{'Create new grid'|i18n}}</button>

    <h3>{{'User defined grids'|i18n}}</h3>
    <span class="text-error" id="gridlist_service_error" ng-show="false">
      <i class="icon-thumbs-down"></i>
      <strong>{{'An error occured'|i18n}}</strong>
      <p>{{gridlistErrorMsg}}</p>
    </span>
     <ul class="vertical-list">
      <hr>
       <div class="{{isSelected(grid)}}" ng-repeat="grid in mapproxy_grids | orderBy:'name'"
        ng-click="editGrid(grid)">

         <li>
          <i ng-show="grid._manual" class="icon-pencil"></i>
          {{grid.name}}
          <i ng-show="!hasDependencies(grid)" class="icon-remove"
            ask-dialog
            dialog-title="{{'Confirm!'|i18n}}"
            dialog-text="{{'Really remove grid:'|i18n}} {{grid.name}}?"
            callback="removeGrid(grid)">
          </i>
          <i ng-show="hasDependencies(grid)" class="icon-remove"
            confirm-dialog
            dialog-title="Confirm!"
            dialog-text="{{'Can not remove grid:'|i18n}} {{grid.name}}<br>{{'Dependencies are:'|i18n}}<br>{{getDependencies(grid)}}">
          </i>
        </li>
        <hr>
      </div>
    </ul>
  </div>
%end

%def middleblock():
<div ng-controller="MapproxyGridFormCtrl">
  <div ng-show="!_editarea.visible">
    <h3>{{formTitle|i18n}}</h3>
    <form name="grid_form" id="grid_form" ng-show="!grid.default" novalidate>
      <!-- name -->
        <div labeled="input_label" name-for="grid_form.name" text="{{'Name'|i18n}}">
            <input required type="text" ng-model="grid.name" id="grid_form.name" />
        </div>
    <!-- SRS -->
        <div labeled="input_label" name-for="grid_form.srs" text="{{'SRS'|i18n}}">
             <select ng-model="grid.srs" id="grid_form.srs">
                <option value="EPSG:3857">EPSG:3857</option>
                <option value="EPSG:4326">EPSG:4326</option>
                <option value="EPSG:900913">EPSG:900913</option>
            </select>
        </div>
    <!-- BBox -->
        <div labeled="input_label" name-for="grid_form.bbox_0" text="{{'BBox'|i18n}}">
            <input type="number" ng-model="grid.bbox[0]" class="input-mini" id="grid_form.bbox_0" />
            <input type="number" ng-model="grid.bbox[1]" class="input-mini" id="grid_form.bbox_1" />
            <input type="number" ng-model="grid.bbox[2]" class="input-mini" id="grid_form.bbox_2" />
            <input type="number" ng-model="grid.bbox[3]" class="input-mini" id="grid_form.bbox_3" />
        </div>
    <!-- BBox SRS -->
        <div labeled="input_label" name-for="grid_form.bbox_srs" text="{{'BBox SRS'|i18n}}">
            <select ng-model="grid.bbox_srs" id="grid_form.bbox_srs">
                <option value="EPSG:3857">EPSG:3857</option>
                <option value="EPSG:4326">EPSG:4326</option>
                <option value="EPSG:900913">EPSG:900913</option>
            </select>
        </div>
    <!-- origin -->
        <div labeled="input_label" name-for="grid_form.origin" text="{{'Origin'|i18n}}">
            <select ng-model="grid.origin" id="grid_form.origin">
                <option value="sw">SW / LL</option>
                <option value="nw">NW / UL</option>
            </select>
        </div>
        <button class="btn btn-small" ng-click="addGrid($event)" ng-disabled="!grid_form.$valid" id="grid_form_save">{{'Save'|i18n}}</button>
        <button class="btn btn-small" ng-click="resetForm($event)">{{'Reset'|i18n}}</button>
        <span class="text-success save_ok" ng-show="false">
          <i class="icon-ok"></i>
          <strong>{{'Saved successfully'|i18n}}</strong>
         </span>
         <span class="text-error" id="gridform_service_error" ng-show="false">
            <i class="icon-thumbs-down"></i>
            <strong>{{'Saving failed'|i18n}}</strong>
            <p>{{gridformErrorMsg}}</p>
          </span>
    </form>
  </div>
  <div ng-show="grid.default">
    <div labeled="input_label" name-for="default_grid.name" text="{{'Name'|i18n}}">
      <div class="input-xlarge" id="default_grid.name">{{grid.name}}</div>
    </div>
  </div>
  <div ng-show="!grid.default" editarea editarea-value="{{prepareForEditarea(grid)}}" yaml-URL="/yaml" json-URL="/json" keep-empty-fields="name"></div>
</div>
%end

%def rightblock():
&nbsp;
%end

%rebase base_config leftblock=leftblock, middleblock=middleblock, rightblock=rightblock, project=get('project'), active='grids'