%def leftblock():
  <div ng-controller="GridListCtrl">
    <button class="btn btn-small btn-add pull-right" ng-click="newItem()">
      <span class="icon-plus-sign icon-white" ></span>
      ${ _('Create new grid') }
    </button>
    <h3>${ _('User defined grids') }</h3>
    <span message-handler="success" message-types="grids.delete_success"></span>
    <span message-handler="error" message-types="grids.load_error,grids.delete_error"></span>
    <div>
      <input type="text" ng-model="search" placeholder="${ _('Filter') }..." class="input-large"/ >
      <span ng-show="list.length - filtered.length" ng-click="search=''">${ _('Not shown grids') }: {{list.length - filtered.length}}</span>
    </div>
    <ul class="vertical-list">
      <div class="{{isSelected(item)}}"
            ng-repeat="item in filtered = (list | filter: {data.name:search}) | orderBy:'name'"
            ng-click="editItem($event, item)">
        <li>
          <i ng-show="item._manual" class="icon-pencil"></i>
          <i ng-show="item._locked || item.default" class="icon-ok"></i>
          {{item.data.name}}
          <i ng-show="!hasDependencies(item)" class="icon-remove"
            dialog="ask"
            dialog-title="${ _('Confirm!') }"
            dialog-text="${ _('Really remove grid:') } {{item.data.name}}?"
            callback="removeItem($event, item)">
          </i>
          <i ng-show="hasDependencies(item)" class="icon-remove"
            dialog="confirm"
            dialog-width="600"
            dialog-height="300"
            dialog-title="Confirm!"
            dialog-text="${ _('Can not remove grid:') } {{item.data.name}}<br>${ _('Dependencies are:') }<br>{{getDependencies(item)}}">
          </i>
          <i class="icon-share" ng-click="copyItem($event, item)"></i>
        </li>
      </div>
    </ul>
    <h3>${ _('Default grids') }</h3>
    <ul class="vertical-list">
      <div class="{{isSelected(item)}}"
           ng-repeat="item in defaultGrids | orderBy:'name'"
           ng-click="editItem($event, item)">
        <li>
          {{item.data.name}}
          <i class="icon-share" ng-click="copyItem($event, item)"></i>
        </li>
      </div>
    </ul>
    <span ng-show="false">{{filtered.length}}</span>
  </div>
%end

%def middleblock():
  <div ng-controller="MapproxyGridFormCtrl"
       ng-init="calculateTilesURL='${ get_url('calculate_tiles') }'; getMaxExtentURL='${ get_url('get_max_extent') }';">
    <div ng-show="!editareaBinds.visible">
      <h3 ng-show="formTitle=='new'">${ _('New grid') }</h3>
      <h3 ng-show="formTitle=='edit'">${ _('Edit grid') }</h3>
      <h3 ng-show="formTitle=='default'">${ _('Default grid') }</h3>
      <form name="form" id="form" novalidate>
        <!-- name -->
        <div labeled="input_label" name-for="name" text="${ _('Name') }">
          <input required type="text" ng-model="grid.data.name" id="name" ng-disabled="grid._locked||grid.default" name="name" class="input-large"/>
        </div>
        <!-- SRS -->
        <div labeled="input_label" name-for="srs" text="${ _('SRS') }">
          <select ng-model="grid.data.srs"
                  id="srs"
                  ng-options="srs for srs in defaults.data.srs"
                  ng-disabled="grid._locked||grid.default"
                  name="srs">
          </select>
        </div>
        <hr class="formLine">
        <!-- BBox -->
        <div labeled="input_label" name-for="bbox_0" text="${ _('BBox') }">
          <input type="number"
                 float
                 ng-model="grid.data.bbox[0]"
                 class="input-large"
                 id="bbox_0"
                 ng-disabled="grid._locked||grid.default"
                 name="bbox_0"/>
          <input type="number"
                 float
                 ng-model="grid.data.bbox[1]"
                 class="input-large"
                 id="bbox_1"
                 ng-disabled="grid._locked||grid.default"
                 name="bbox_1"/>
          <input type="number"
                 float
                 ng-model="grid.data.bbox[2]"
                 class="input-large"
                 id="bbox_2"
                 ng-disabled="grid._locked||grid.default"
                 name="bbox_2"/>
          <input type="number"
                 float
                 ng-model="grid.data.bbox[3]"
                 class="input-large"
                 id="bbox_3"
                 ng-disabled="grid._locked||grid.default"
                 name="bbox_3"/>
        </div>
        <!-- BBox SRS -->
        <div labeled="input_label" name-for="bbox_srs" text="${ _('BBox SRS') }">
          <select ng-model="grid.data.bbox_srs"
                  id="bbox_srs"
                  ng-options="srs for srs in defaults.data.srs"
                  ng-disabled="grid._locked||grid.default"
                  name="bbox_srs">
          </select>
        </div>
        <hr>
          <button class="btn btn-small"
                ng-click="calculateTiles()"
                ng-disabled="!grid.data.srs">
          ${ _('Calculate tiles') }
         </button>
        <hr>
        <!-- origin -->
        <div labeled='input_label_toggleable'
            name-for="origin"
            text="${ _('Origin') }">
        <div>
          <select ng-model="grid.data.origin"
                  id="origin"
                  ng-disabled="grid._locked||grid.default"
                  name="origin">
            <option value="sw">SW / LL</option>
            <option value="nw">NW / UL</option>
          </select>
        </div>
        </div>
        <hr>
        <div labeled='input_label_toggleable'
            text="${ _('Resolutions') }">
        <!-- units to calculate -->
          <div class="btn-group switch pull-right"
               ng-model="grid.data.units"
               data-toggle-name="is_private"
               data-toggle="buttons-radio">
            <button type="button"
                    ng-click="grid.data.units='m'"
                    class="btn btn-small"
                    ng-class="{'active': grid.data.units=='m'}"
                    data-toggle="button"
                    ng-disabled="grid._locked||grid.default">
              ${ _('Meters') }
            </button>
            <button type="button"
                    ng-click="grid.data.units='d'"
                    class="btn btn-small"
                    ng-class="{'active': grid.data.units=='d'}"
                    data-toggle="button"
                    ng-disabled="grid._locked||grid.default">
              ${ _('Degrees') }
            </button>
          </div>
          <!-- res / scales -->
          <div class="btn-group switch" data-toggle="buttons-radio">
            <button type="button"
                    class="btn btn-small"
                    ng-class="{'active': custom.resSelected}"
                    ng-click="getResolutions('${get_url('scales_to_res')}')"
                    ng-disabled="grid._locked||grid.default">
              ${ _('Resolutions') }
            </button>
            <button type="button"
                    class="btn btn-small"
                    ng-class="{'active': !custom.resSelected}"
                    ng-click="getScales('${get_url('res_to_scales')}')"
                    ng-disabled="grid._locked||grid.default">
              ${ _('Scales') }
            </button>
          </div>
          <div extendable-input-list="custom.res_scales"
               list-prefix="Level"
               ng-disabled="grid._locked||grid.default"
               parent-form="form">
        </div>
        </div>
        <hr class="formLine">
        <div labeled="input_label"
             name-for="map_srs"
             text="${ _('Map SRS') }">
          <select ng-options="srs for srs in defaults.data.srs"
                  id="map_srs"
                  name="map_srs"
                  ng-model="custom.mapSRS">
          </select>
          <button class="btn btn-small"
                  ng-click="showMap($event)"
                  ng-disabled="!allowMap()">
            ${ _('Show map') }
          </button>
          <span message-handler="error"
                message-types="olMap.showMap_error">
          </span>
        </div>
        <hr class="formLine">
        <!-- buttons -->
        <div class="pull-left">
          <button class="btn btn-small"
                  ng-click="addGrid($event)"
                  ng-disabled="grid._locked||grid.default||!form.$valid"
                  id="form_save"
                  ng-class="{'btn-success': form.$valid&&!grid._locked}">
            ${ _('Save') }
          </button>
          <button class="btn btn-small"
                  ng-click="resetForm($event)"
                  ng-disabled="grid._locked||grid.default">
            ${ _('Reset') }
          </button>
        </div>
        <div id="_editarea_toggle_button_container"
             class="pull-right"
             ng-show="!grid._locked&&!grid.default">
        </div>
      </form>
    </div>
    <div editarea="editareaBinds"
         ng-disabled="grid._locked||grid.default"
         yaml-URL="${get_url('json_to_yaml')}"
         json-URL="${get_url('yaml_to_json')}"
         keep-empty-fields="name">
    </div>
    <div class="clear">
      <span message-handler="success"
            message-types="grids.add_success,grids.update_success">
      </span>
      <span message-handler="error"
            message-types="grids.add_error,grids.update_error,grids.form_error">
      </span>
    </div>
    <hr class="formLine">
    <button class="pull-right btn btn-small btn-warning"
            dialog="ask"
            dialog-title="${ _('Really lock the grid') }: {{grid.data.name}}?"
            dialog-text="${ _('If you lock the grid, you won\'t be able to edit it again') }"
            callback="lockGrid()"
            ng-disabled="form.$dirty||editareaBinds.dirty"
            ng-show="!(grid._locked||grid.default)"
            id="form_lock">
      ${ _('Lock') }
    </button>
    <button class="btn btn-small"
            ng-show="grid._locked"
            dialog="ask"
            dialog-title="${ _('Unlock') }?"
            dialog-text="${ _('If you unlock this grid it you need to check settings of all caches you use this grid and delete all affacted caches from disk') }"
            callback="unlockGrid()">
      ${ _('Unlock') }
    </button>
    <div ol-map="olmapBinds" map-width="1000" map-height="600" map-hidden="true" map-layer-switcher="true">
      <select ol-grid-extension="provideGridData"
              class="_gridLevelSelect"
              ng-model="gridLevel"
              ng-change="updateLevel()"
              ng-mousedown="$event.stopPropagation();"
              ng-click="$event.stopPropagation();"
              ng-dblclick="$event.stopPropagation();"
              ng-options="level for level in levels()">
      </select>
    </div>
  </div>
%end

%def rightblock():
  <div ng-controller="DisplayCalculatedTilesCtrl">
    <button class="btn btn-small pull-right" ng-click="refresh()" ng-show="calculatedTiles">${ _('Refresh') }</button>
    <br ng-show="calculatedTiles">
    <hr ng-show="calculatedTiles">
    <table class="table" ng-show="calculatedTiles">
      <thead>
        <tr>
          <th>
            <span class="text-center">
              ${ _('Level') }
            </span>
          </th>
          <th ng-show="calculatedTiles[0].resolution">
            <span class="pull-right">
              ${ _('Resolutions') }
            </span>
          </th>
          <th ng-show="calculatedTiles[0].scale">
            <span class="pull-left">
              ${ _('Scales') }
            </span>
          </th>
          <th>
            <span class="pull-right">
              ${ _('Total tiles') }
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in calculatedTiles | orderBy:'level'">
          <td>{{row.level}}</td>
          <td ng-show="row.resolution">
            <span class="pull-right">
              {{row.resolution | number:9}}
            </span>
          </td>
          <td ng-show="row.scale">
            <span class="pull-left">
              1 : {{row.scale | number}}
            </span>
          </td>
          <td tooltip="popover"
              tooltip-placement="right"
              tooltip-title="${ _('Tiles X * Tiles Y') }"
              tooltip-content="{{row.tiles_in_x|number}} * {{row.tiles_in_y|number}}">
            <span class="pull-right">
              {{row.total_tiles | number}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
%end

%rebase base_config leftblock=leftblock, middleblock=middleblock, rightblock=rightblock, project=get('project'), active='grids'
