%def content():
  <div class="span4">
    %for project, valid in projects.items():
        <h3>${project}</h3>
        %if valid:
            <span class="label label-success"><h5><i class="icon-thumbs-up"></i> {{'The mapproxy configuration of this project is valid'|i18n}}</h5></span>
        %else:
            <span class="label label-important"><h5><i class="icon-thumbs-down"></i> {{'The mapproxy configuration of this project is invalid'|i18n}}</h5></span>
        %end
    %end
  </div>
% end

%rebase base content=content, projects=get('projects')