%def leftblock():
<div ng-controller="MapproxyLayerListCtrl">
  <h3>Layer</h3>
   <script type="text/ng-template"  id="mapproxy_layer_renderer.html">
        <ul sortable ng-model="layer._layers">
            <li ng-repeat="layer in layer._layers | orderBy:'_rank'">  <!-- new scope -->
                <div draggable item-data="{{layer}}" ng-model="$parent.$parent.layer._layers" class="mapproxy_layer"> <!-- new scope -->
                    <!-- need to access layer._layers from 2 lines above so i have to go 2 scopes up ($parent.$parent) -->
                    <div class="label" ng-click="editLayer(layer)">{{layer.name}} ({{layer.title}})</div>
                    <div class="mapproxy_layer_dropzone" droppable ng-model="layer._layers" allow-array="true"></div>
                    <i class="icon-remove"
                        ask-dialog
                        dialog-title="Confirm!"
                        dialog-text='Really remove layer "{{layer.name}}"?'
                        callback="removeLayer(layer)"></i>
                    <div
                        ng-include="'mapproxy_layer_renderer.html'"
                        style="margin-left: 0.5em"
                        >
                    </div>
                </div>
            </li>
        </ul>
    </script>
    <div>
        <ul sortable ng-model="mapproxy_layers">
            <li ng-repeat="layer in mapproxy_layers | orderBy:'_rank'">
                <div draggable item-data="{{layer}}" ng-model="mapproxy_layers" class="mapproxy_layer">
                    <div class="label" ng-click="editLayer(layer)">{{layer.name}} ({{layer.title}})</div>
                    <div class="mapproxy_layer_dropzone" droppable ng-model="layer._layers" allow-array="true" parent-id="{{layer._id}}" parent-save="true"></div>
                    <i class="icon-remove"
                        ask-dialog
                        dialog-title="Confirm!"
                        dialog-text='Really remove layer "{{layer.name}}"?'
                        callback="removeLayer(layer)"></i>
                    <div
                        ng-include="'mapproxy_layer_renderer.html'"
                        style="margin-left: 0.5em"
                        sortable
                        ng-model="layer._layers"
                        >
                    </div>
                </div>
            </li>
        </ul>
    </div>
   <div class="mapproxy_layer_dropzone" droppable ng-model="mapproxy_layers" allow-array="true"></div>
   <button class="btn btn-small" ng-click="updateLayerTree()">Save</button>
   <i id="layertree_save_ok" class="icon-ok" ng-show="false"></i>
   <button class="btn btn-small" ng-click="newLayer()">New layer</button>
</div>
%end

%def middleblock():
<div ng-controller="MapproxyLayerFormCtrl">
  <form name="layer_form" ng-model="layer">
    <h3>{{formTitle}}</h3>
    <!-- name -->
        <div labeled="input_label" name-for="layer_form.layer_name" text="Name">
            <input required type="text" required ng-model="layer.name" class="input-xlarge" id="layer_form.layer_name"/>
        </div>
    <!-- title -->
        <div labeled="input_label" name-for="layer_form.layer_title" text="Title">
            <input required type="text" required ng-model="layer.title" class="input-xlarge" id="layer_form.layer_title"/>
        </div>
    <!-- sources -->
        <div labeled="input_label" name-for="layer_form.sources" text="Sources">
            <div
                droppable
                required
                accepts="mapproxy_source,mapproxy_cache"
                allow-array="true"
                ng-model="layer.sources"
                id="layer_sources"
                use-key-for-value="_id"
                class="input-xlarge insertable-list uneditable-input">
                <div sortable ng-model="layer.sources" >
                    <div ng-repeat="source in layer.sources" class="label">
                        <span ng-bind="showName(source)"></span>
                         <i class="icon-remove" ng-click="remove(source)"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button class="btn btn-small" ng-click="addLayer()" ng-disabled="!layer_form.$valid">Save</button>
    <i id="layer_save_ok" class="icon-ok" ng-show="false"></i>
    <button class="btn btn-small" ng-click="resetForm()">Reset</button>
</div>
%end

%def rightblock():
  <div>
      <h3>Sources</h3>
      <ul class="vertical-list" ng-controller="MapproxySourceListCtrl">
          <li
              draggable
              class="mapproxy_source label"
              ng-repeat="source in mapproxy_sources | orderBy:'name'"
              item-data="{{source}}">
              {{source.name}}
          </li>
      </ul>
      <hr>
      <h3>Caches</h3>
      <ul class="vertical-list" ng-controller="MapproxyCacheListCtrl">
          <li
              draggable
              class="mapproxy_cache label"
              ng-repeat="cache in mapproxy_caches | orderBy:'name'"
              item-data="{{cache}}">
              {{cache.name}}
          </li>
      </ul>
    </div>
%end
%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock,  project=get('project'),  active='layers'