%def jsblock():
  <script type="text/javascript" src="${ get_url('static', filepath='js/min_max_res_helper.js') }"></script>
%end

%def leftblock():
  <div ng-controller="LayerListCtrl">
    <button class="btn btn-small btn-add pull-right" ng-click="newItem()">
      <span class="icon-plus-sign icon-white" ></span>
      ${ _('Create new layer') }
    </button>
    <button class="btn btn-small pull-right"
            id="layer_list_save"
            ng-click="updateLayerTree()"
            style="margin-right:1em;"
            ng-disabled="!listChanged()"
            ng-class="{'btn-success': _listChanged}">
      ${ _('Save') }
    </button>
    <h3>${ _('Layer') }</h3>
    <span message-handler="success"
          message-types="layers.delete_success,layers.updateStructur_success">
    </span>
    <span message-handler="error"
          message-types="layers.load_error,layers.delete_error,layers.updateStructur_error">
    </span>
    <div>
      <input type="text" ng-model="search" placeholder="${ _('Filter') }..." class="input-large"/>
      <span ng-show="list.length - filtered.length" ng-click="search=''">
        ${ _('Not shown layers') }: {{list.length - filtered.length}}
      </span>
    </div>
    <div>
      <ul sortable ng-model="list" class="vertical-list">
        <div class="{{isSelected(item)}}"
             ng-repeat="item in filtered = (list | filter:{data.title:search}) | orderBy:'_rank'"
             ng-click="editItem($event, item)">
          <li>
            <i ng-show="item._manual" class="icon-pencil"></i>
            {{item.data.title}} ({{item.data.name}})
            <i class="icon-remove pull-right"
               dialog="ask"
               dialog-title="${ _('Confirm!') }"
               dialog-text="${ _('Really remove layer:') } {{item.data.title}} ({{item.data.name}})?"
               callback="removeItem($event, item)">
            </i>
            <i class="icon-share" ng-click="copyItem($event, item)"></i>
          </li>
        </div>
      </ul>
      <span ng-show="false">{{filtered.length}}</span>
    </div>
  </div>
%end

%def middleblock():
  <div ng-controller="MapproxyLayerFormCtrl"
       ng-init="custom.scalesToResURL='${get_url('scales_to_res')}';custom.resToScalesURL='${get_url('res_to_scales')}';">
    <form name="form" novalidate ng-show="!editareaBinds.visible">
      <h3>{{formTitle|i18n}}</h3>
      <!-- name -->
      <div labeled="input_label" name-for="layer_name" text="${ _('Name') }">
        <input required
               type="text"
               ng-model="layer.data.name"
               class="input-xlarge"
               id="layer_name"
               name="layer_name"/>
      </div>
      <!-- title -->
      <div labeled="input_label" name-for="layer_title" text="${ _('Title') }">
        <input required
               type="text"
               ng-model="layer.data.title"
               class="input-xlarge"
               id="layer_title"
               name="layer_title"/>
      </div>
      <!-- sources -->
      <div labeled="input_label" name-for="sources" text="${ _('Sources') }">
        <div required
             droppable
             sortable
             accepts="mapproxy_source,mapproxy_cache"
             allow-array="true"
             ng-model="layer.data.sources"
             id="sources"
             name="sources"
             use-key-for-value="_id"
             class="input-xlarge insertable-list uneditable-input">
          <div ng-repeat="source in layer.data.sources" class="label">
            <span ng-bind="showName(source)"></span>
            <i class="icon-remove" ng-click="remove(source)"></i>
          </div>
        </div>
      </div>
      <hr>
      <div ng-include src="'${ get_url('angular_template', filename='min_max_res') }'"></div>
      <hr>
      <div class="pull-left">
        <button class="btn btn-small"
                ng-click="addLayer()"
                ng-disabled="!form.$valid"
                id="form_save"
                ng-class="{'btn-success': form.$valid}">
          ${ _('Save') }
        </button>
        <button class="btn btn-small" ng-click="resetForm()">
          ${ _('Reset') }
        </button>
      </div>
      <div id="_editarea_toggle_button_container" class="pull-right"></div>
    </form>
    <div editarea="editareaBinds"
         yaml-URL="${get_url('json_to_yaml')}"
         json-URL="${get_url('yaml_to_json')}"
         keep-empty-fields="name">
    </div>
    <div class="clear">
      <span message-handler="success"
            message-types="layers.add_success,layers.update_success">
      </span>
      <span message-handler="error"
            message-types="layers.add_error,layers.update_error,layers.form_error">
      </span>
    </div>
  </div>
%end

%def rightblock():
  <div>
    <span ng-controller="CacheListCtrl">
      <h3>${ _('Caches') }</h3>
      <span message-handler="error" message-types="caches.load_error"></span>
      <div>
        <input type="text" ng-model="search" placeholder="${ _('Filter') }..."/>
        <br>
        <span ng-show="list.length - filtered.length" ng-click="search=''">
          ${ _('Not shown caches') }: {{list.length - filtered.length}}
        </span>
      </div>
      <ul class="vertical-list small">
        <div draggable
             class="mapproxy_cache"
             ng-repeat="item in filtered = (list | filter:{data.name:search}) | orderBy:'name'"
             item-data="{{item}}">
          <li class="droppable_name">
            {{item.data.name}}
            <i class="icon-info-sign pull-right"
               dialog="confirm"
               dialog-title="${ _('Informations') }"
               dialog-height="300"
               dialog-text="{{getInfos(item)}}">
            </i>
          </li>
        </div>
      </ul>
      <span ng-show="false">{{filtered.length}}</span>
    </span>
    <hr>
    <span ng-controller="SourceListCtrl">
      <h3>${ _('Sources') }</h3>
      <span message-handler="error" message-types="sources.load_error"></span>
      <div>
        <input type="text" ng-model="search" placeholder="${ _('Filter') }..."/>
        <br>
        <span ng-show="list.length - filtered.length" ng-click="search=''">
          ${ _('Not shown sources') }: {{list.length - filtered.length}}
        </span>
      </div>
      <ul class="vertical-list small">
        <div draggable
             class="mapproxy_source"
             ng-repeat="item in filtered = (list |filter:{data.name:search}) | orderBy:'name'"
             item-data="{{item}}">
          <li class="droppable_name">
            {{item.data.name}}
            <i class="icon-info-sign pull-right"
               dialog="confirm"
               dialog-title="${ _('Informations') }"
               dialog-height="300"
               dialog-text="{{getInfos(item)}}">
            </i>
          </li>
        </div>
      </ul>
      <span ng-show="false">{{filtered.length}}</span>
    </span>
  </div>
%end

%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock, jsblock=jsblock, project=get('project'), language=get('language'),  active='layers'
