%def jsblock():
  <script type="text/javascript" src="${ get_url('static', filepath='js/min_max_res_helper.js') }"></script>
%end

%def leftblock():
<div ng-controller="MapproxyLayerListCtrl">
  <button class="btn btn-small btn-add pull-right" ng-click="newLayer()">
    <span class="icon-plus-sign icon-white" ></span>
    {{'Create new layer'|i18n}}
  </button>
  <button class="btn btn-small pull-right" id="layer_list_save" ng-click="updateLayerTree()" style="margin-right:1em;" ng-disabled="!listChanged()" ng-class="{'btn-success': _listChanged}">{{'Save'|i18n}}</button>

  <h3>{{'Layer'|i18n}}</h3>
  <span message-handler="success" message-types="layers.delete_success,layers.updateStructur_success"></span>
  <span message-handler="error" message-types="layers.load_error,layers.delete_error,layers.updateStructur_error"></span>
  <div>
    <input type="text" ng-model="search" placeholder="{{'Filter'|i18n}}..."/>
    <br>
    <span ng-show="mapproxy_layers.length - filtered.length" ng-click="search=''">{{'Not shown layers'|i18n}}: {{mapproxy_layers.length - filtered.length}}</span>
  </div>
  <script type="text/ng-template"  id="mapproxy_layer_renderer.html">
    <ul sortable ng-model="layer._layers">
      <li ng-repeat="layer in layer._layers | orderBy:'_rank'">  <!-- new scope -->
      <!-- new scope -->
      <!-- need to access layer._layers from 2 lines above so i have to go 2 scopes up ($parent.$parent) -->
        <div ng-click="editLayer(layer)">
          <i ng-show="layer._manual" class="icon-pencil"></i>
          {{layer.name}} ({{layer.title}})
          <i class="icon-remove"
            dialog="ask"
            dialog-title="{{'Confirm!'|i18n}}"
            dialog-text="{{'Really remove layer:'|i18n}} {{layer.title}} ({{layer.name}})?"
            callback="removeLayer(layer)"></i>
            <div
              ng-include="'mapproxy_layer_renderer.html'"
              style="margin-left: 0.5em"
            >
        </div>
      </li>
    </ul>
  </script>
  <div>
    <ul class="vertical-list">
    </ul>
    <ul sortable ng-model="mapproxy_layers" class="vertical-list">

      <div class="{{isSelected(layer)}}"
        ng-repeat="layer in filtered = (mapproxy_layers | filter:{data.title:search}) | orderBy:'_rank'"
        ng-click="editLayer(layer)">
        <li>
          <i ng-show="layer._manual" class="icon-pencil"></i>
          {{layer.data.title}} ({{layer.data.name}})
          <i class="icon-remove pull-right"
            dialog="ask"
            dialog-title="{{'Confirm!'|i18n}}"
            dialog-text="{{'Really remove layer:'|i18n}} {{layer.data.title}} ({{layer.data.name}})?"
            callback="removeLayer(layer)"></i>
          <!-- <div
                ng-include="'mapproxy_layer_renderer.html'"
                style="margin-left: 0.5em"
                sortable
                ng-model="layer._layers"
              >
          </div> -->
        </li>
      </div>
    </ul>
    <span ng-show="false">{{filtered.length}}</span>
  </div>
  <div class="text-success list_save_ok" ng-show="false">
    <i class="icon-ok"></i>
    <strong>{{'Saved successfully'|i18n}}</strong>
  </div>
</div>
%end

%def middleblock():
<div ng-controller="MapproxyLayerFormCtrl" ng-init="custom.scalesToResURL='${get_url('scales_to_res')}';custom.resToScalesURL='${get_url('res_to_scales')}';">
  <form name="form" novalidate ng-show="!editareaBinds.visible">
    <h3>{{formTitle|i18n}}</h3>
    <!-- name -->
    <div labeled="input_label" name-for="layer_name" text="{{'Name'|i18n}}">
      <input required type="text" required ng-model="layer.data.name" class="input-xlarge" id="layer_name" name="layer_name"/>
    </div>
    <!-- title -->
    <div labeled="input_label" name-for="layer_title" text="{{'Title'|i18n}}">
      <input required type="text" required ng-model="layer.data.title" class="input-xlarge" id="layer_title" name="layer_title"/>
    </div>
    <!-- sources -->
    <div labeled="input_label" name-for="sources" text="{{'Sources'|i18n}}">
      <div
        droppable
        sortable
        required
        accepts="mapproxy_source,mapproxy_cache"
        allow-array="true"
        ng-model="layer.data.sources"
        id="sources"
        name="sources"
        use-key-for-value="_id"
        class="input-xlarge insertable-list uneditable-input">
        <div ng-repeat="source in layer.data.sources" class="label">
          <span ng-bind="showName(source)"></span>
          <i class="icon-remove" ng-click="remove(source)"></i>
        </div>
      </div>
    </div>
    <div ng-include src="'${ get_url('static', filepath='angular_templates/min_max_res.html') }'"></div>

    <div class="pull-left">
      <button class="btn btn-small" ng-click="addLayer()" ng-disabled="!form.$valid" id="form_save" ng-class="{'btn-success': form.$valid}">{{'Save'|i18n}}</button>
      <button class="btn btn-small" ng-click="resetForm()">{{'Reset'|i18n}}</button>
    </div>
    <div id="_editarea_toggle_button_container" class="pull-right"></div>
  </form>
  <div editarea="editareaBinds"
    yaml-URL="${get_url('json_to_yaml')}"
    json-URL="${get_url('yaml_to_json')}"
    keep-empty-fields="name"></div>
  <div class="clear">
    <span message-handler="success" message-types="layers.add_success,layers.update_success"></span>
    <span message-handler="error" message-types="layers.add_error,layers.update_error,layers.form_error"></span>
  </div>
</div>
%end

%def rightblock():
  <div>
    <span ng-controller="MapproxySourceListCtrl">
      <h3>{{'Sources'|i18n}}</h3>
      <span message-handler="error" message-types="sources.load_error"></span>
      <div>
        <input type="text" ng-model="search" placeholder="{{'Filter'|i18n}}..."/>
        <br>
        <span ng-show="mapproxy_sources.length - filtered.length" ng-click="search=''">{{'Not shown sources'|i18n}}: {{mapproxy_sources.length - filtered.length}}</span>
      </div>
      <ul class="vertical-list small">
          <div
              draggable
              class="mapproxy_source"
              ng-repeat="source in filtered = (mapproxy_sources |filter:{data.name:search}) | orderBy:'name'"
              item-data="{{source}}">
              <li class="droppable_name">
                {{source.data.name}}
                <i class="icon-info-sign pull-right" dialog="confirm" dialog-title="{{'Informations'|i18n}}" dialog-height="300" dialog-text="{{getInfos(source)}}"></i>
              </li>
          </div>
      </ul>
      <span ng-show="false">{{filtered.length}}</span>
    </span>
    <hr>
    <span ng-controller="MapproxyCacheListCtrl">
      <h3>{{'Caches'|i18n}}</h3>
      <span message-handler="error" message-types="caches.load_error"></span>
      <div>
        <input type="text" ng-model="search" placeholder="{{'Filter'|i18n}}..."/>
        <br>
        <span ng-show="mapproxy_caches.length - filtered.length" ng-click="search=''">{{'Not shown caches'|i18n}}: {{mapproxy_caches.length - filtered.length}}</span>
      </div>
      <ul class="vertical-list small">
          <div
              draggable
              class="mapproxy_cache"
              ng-repeat="cache in filtered = (mapproxy_caches | filter:{data.name:search}) | orderBy:'name'"
              item-data="{{cache}}">
              <li class="droppable_name">
                {{cache.data.name}}
                <i class="icon-info-sign pull-right" dialog="confirm" dialog-title="{{'Informations'|i18n}}" dialog-height="300" dialog-text="{{getInfos(cache)}}"></i>
              </li>
          </div>
      </ul>
      <span ng-show="false">{{filtered.length}}</span>
    </span>
  </div>
%end
%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock, jsblock=jsblock, project=get('project'), language=get('language'),  active='layers'