%def preload_block():
  var preloaded_defaults = ${!defaults};
%end

%def leftblock():
  &nbsp;
%end

%def middleblock():
  <div ng-controller="ProjectDefaultsCtrl">
    <h4>${ _('Project defaults') }</h4>
    <p>${ _('infotext_default_settings') }</p>
    <hr class="formLine">
    <form name="form"
          role="form">
      <div labeled="input_label"
           name-for="dpi"
           text="${ _('DPI') }"
           tooltip-content="default_config_dpi">
        <div class="row">
          <div class="col-sm-6">
            <input float
                   name="dpi"
                   id="dpi"
                   class="form-control input-sm"
                   ng-model="defaults.data.dpi"
                   type="number">
          </div>
        </div>
      </div>
      <hr class="formLine">
      <div labeled="input_label"
           name-for="default_srs"
           text="${ _('SRS') }"
           tooltip-content="default_config_srs">
        <div name="default_srs"
             id="default_srs"
             class="well well-small">
          <span class="badge"
                ng-repeat="srs in defaults.data.srs">
            {{srs}}
            <i class="glyphicon glyphicon-remove"
               ng-click="removeSRS($event, srs)"></i>
          </span>
        </div>
      </div>
    </form>
    <div labeled="input_label"
         name-for="new_srs"
         text="${ _('Add SRS') }"
         tooltip-content="default_config_add_srs">
      <div class="row">
        <div class="col-sm-8">
          <input type="text"
                 id="new_srs"
                 name="new_srs"
                 class="form-control input-sm"
                 ng-model="custom.newSRS">
        </div>
        <div class="col-sm-4">
          <button class="btn btn-default btn-sm"
                  ng-click="addSRS($event)"
                  ng-disabled="!custom.newSRS"
                  type="button">
            ${ _('Add') }
          </button>
        </div>
      </div>
    </div>
    <hr class="formLine">
    <div class="pull-left">
      <button class="btn btn-default btn-sm"
              ng-click="save($event)"
              ng-disabled="!form.$valid || !form.$dirty"
              ng-class="{'btn-success': form.$valid && form.$dirty}">
        ${ _('Save') }
      </button>
    </div>
    <div class="pull-right">
      <a href="${ get_url('configuration', project=project) }"
         class="btn btn-default btn-sm">
        ${ _('To configuration') } &rarr;
      </a>
    </div>
    <div>
      <span message-handler="success"
            message-types="defaults.add_success,defaults.update_success">
      </span>
      <span message-handler="error"
            message-types="defaults.load_error,defaults.add_error,defaults.update_error,defaults.form_error">
      </span>
    </div>
  </div>

%end

%rebase base_config leftblock=leftblock, middleblock=middleblock, preload_block=preload_block, project=get('project')
