%def content():
  <div class="span4">
    %for name, data in projects.items():
      <div>
        <h3>${name}</h3>
        <a href="${ get_url('configuration', project='base') }">{{'To configuration'|i18n}}</a>
        <br><br>
        %if data['valid']:
          <span class="label label-success"><h5><i class="icon-thumbs-up"></i> {{'The mapproxy configuration of this project is valid'|i18n}}</h5></span>
        %else:
          <div class="btn-group">
            <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-thumbs-down"></i> {{'The mapproxy configuration of this project is invalid'|i18n}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              %for msg in data['errors']:
                <li>${msg}</li>
              %end
            </ul>
          </div>
        %end
      </div>
    %end
  </div>
% end

%rebase base content=content, projects=get('projects')