%def preload_block():
  var preloaded_defaults = ${!defaults};
  var preloaded_services = ${!services};
%end

%def leftblock():
  <div ng-controller="MapproxyServicesChooserCtrl"
       ng-show="!_editarea_visible">
    <h4>
      ${ _('Services') }
    </h4>
    <ul class="vertical-list">
      <div class="{{setSelected(service)}}"
           ng-repeat="(service, data) in services.data"
           ng-click="show(service)">
        <li>
          <i ng-show="data.active" class="glyphicon glyphicon-ok list-icon" title="${ _('service is activated') }"></i>
              {{translate(service)}}</li>
      </div>
    </ul>
  </div>
%end

%def middleblock():
  <script type="text/ng-template"  id="wms.html">
    <h4>
      ${ _('wms') }
      <i class="glyphicon glyphicon-question-sign help"
         tooltip="services_wms"></i>
    </h4>
    <div labeled="checkbox_label"
         name-for="wms_active"
         text="${ _('Active') }">
      <input type="checkbox"
             ng-model="services.data.wms.active"
             id="wms_active"
             name="wms_active"/>
    </div>
    <div labeled="input_label"
         name-for="wms_title"
         text="${ _('Title') }">
      <input type="text"
             ng-model="services.data.wms.md.title"
             id="wms_title"
             name="wms_title"
             class="form-control input-sm"/>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div labeled="input_label"
             name-for="wms_srs"
             text="${ _('SRS') }"
             tooltip-content="service_wms_srs">
          <select id="wms_srs"
                  multiple="multiple"
                  ng-model="services.data.wms.srs"
                  ng-options="srs for srs in defaults.data.srs"
                  name="wms_srs"
                  class="form-control">
          </select>
        </div>
      </div>
      <div class="col-sm-7 top-buffer-24">
        <a class="pull-right btn btn-sm btn-default" href="${ get_url('project_defaults', project=project) }">${ _('to project default settings') }</a>
      </div>
    </div>
    <hr class="formLine">
    <!-- Add md section -->
    <div labeled="input_label_toggleable"
         name-for="wms_md"
         text="${ _('Meta data') }"
         tooltip-content="service_wms_metadata">
      <div id="wms_md">
        <div labeled="input_label"
             name-for="wms_md_abstract"
             text="${ _('Abstract') }">
          <textarea ng-model="services.data.wms.md.abstract"
                    id="wms_md_abstract"
                    name="wms_md_abstract"
                    class="form-control">
          </textarea>
        </div>
        <div labeled="input_label"
             name-for="wms_md_online_resource"
             text="${ _('Online resource') }">
          <input type="text"
                 ng-model="services.data.wms.md.online_resource"
                 id="wms_md_online_resource"
                 name="wms_md_online_resource"
                 class="form-control input-sm"/>
        </div>
        <hr class="formLine">
        <div labeled="input_label_toggleable"
             name-for="wms_md_contact"
             text="${ _('Contact') }">
          <div id="wms_md_contact">
            <div labeled="input_label"
                 name-for="wms_md_contact_person "
                 text="${ _('Person') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.person"
                     id="wms_md_contact_person"
                     name="wms_md_contact_person"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_position"
                 text="${ _('Position') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.position"
                     id="wms_md_contact_position"
                     name="wms_md_contact_position"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_organization"
                 text="${ _('Organization') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.organization"
                     id="wms_md_contact_organization"
                     name="wms_md_contact_organization"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_address"
                 text="${ _('Address') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.address"
                     id="wms_md_contact_address"
                     name="wms_md_contact_address"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_city"
                 text="${ _('City') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.city"
                     id="wms_md_contact_city"
                     name="wms_md_contact_city"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_postcode"
                 text="${ _('Postcode') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.postcode"
                     id="wms_md_contact_postcode"
                     name="wms_md_contact_postcode"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_country"
                 text="${ _('Country') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.country"
                     id="wms_md_contact_country"
                     name="wms_md_contact_country"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_phone"
                 text="${ _('Phone') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.phone"
                     id="wms_md_contact_phone"
                     name="wms_md_contact_phone"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_fax"
                 text="${ _('Fax') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.fax"
                     id="wms_md_contact_fax"
                     name="wms_md_contact_fax"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_contact_email"
                 text="${ _('Email') }">
              <input type="text"
                     ng-model="services.data.wms.md.contact.email"
                     id="wms_md_contact_email"
                     name="wms_md_contact_email"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_fees"
                 text="${ _('Fees') }">
              <input type="text"
                     ng-model="services.data.wms.md.fees"
                     id="wms_md_fees"
                     name="wms_md_fees"
                     class="form-control input-sm"/>
            </div>
            <div labeled="input_label"
                 name-for="wms_md_access_constraints"
                 text="${ _('Access constraints') }">
              <textarea ng-model="services.data.wms.md.access_constraints"
                        id="wms_md_access_constraints"
                        name="wms_md_access_constraints"
                        class="form-control">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template"  id="tms.html">
    <h4>
      ${ _('tms') }
      <i class="glyphicon glyphicon-question-sign help"
         tooltip="services_tms"></i>
    </h4>
    <div labeled="checkbox_label"
         name-for="tms_active"
         text="${ _('Active') }">
      <input type="checkbox"
             ng-model="services.data.tms.active"
             id="tms_active"
             name="tms_active">
    </div>
  </script>
  <script type="text/ng-template"  id="wmts.html">
    <h4>
      ${ _('wmts') }
      <i class="glyphicon glyphicon-question-sign help"
         tooltip="services_wmts"></i>
    </h4>
    <div labeled="checkbox_label"
         name-for="wmts_active"
         text="${ _('Active') }">
      <input type="checkbox"
             ng-model="services.data.wmts.active"
             id="wmts_active"
             name="wmts_active">
    </div>
  </script>
  <script type="text/ng-template"  id="kml.html">
    <h4>
      ${ _('kml') }
      <i class="glyphicon glyphicon-question-sign help"
         tooltip="services_kml"></i>
    </h4>
    <div labeled="checkbox_label"
         name-for="kml_active"
         text="${ _('Active') }">
      <input type="checkbox"
             ng-model="services.data.kml.active"
             id="kml_active"
             name="kml_active">
    </div>
  </script>
  <script type="text/ng-template"  id="demo.html">
    <h4>
      ${ _('demo') }
      <i class="glyphicon glyphicon-question-sign help"
         tooltip="services_demo"></i>
    </h4>
    <div labeled="checkbox_label"
         name-for="demo_active"
         text="${ _('Active') }">
      <input type="checkbox"
             ng-model="services.data.demo.active"
             id="demo_active"
             name="demo_active">
    </div>
  </script>
  <div ng-controller="MapproxyServicesCtrl">
    <form name="form"
          ng-show="!editareaBinds.visible">
      <div ng-include src="template"></div>
      <hr class="formLine">
      <button class="btn btn-sm btn-default"
              ng-click="save($event)"
              id="form_save"
              ng-class="{'btn-success': form.$valid && form.$dirty}">
        ${ _('Save') }
      </button>
      <button class="btn btn-sm btn-default"
              ng-click="reset($event)"
              id="form_reset">
        ${ _('Reset') }
      </button>
      <div class="pull-right"
           id="_editarea_toggle_button_container"></div>
    </form>
    <div editarea="editareaBinds"
         yaml-URL="${get_url('json_to_yaml')}"
         json-URL="${get_url('yaml_to_json')}">
    </div>
    <div class="row">
      <div class="col-sm-12 text-left">
        <span class="top-buffer-1"
              message-handler="success"
              message-types="services.add_success,services.update_success">
        </span>
        <span class="top-buffer-1"
              message-handler="error"
              message-types="services.form_error,services.load_error,services.update_error,services.add_error">
        </span>
      </div>
    </div>
  </div>
%end

%def rightblock():
  &nbsp;
%end

%rebase base_config leftblock=leftblock, middleblock=middleblock, rightblock=rightblock, preload_block=preload_block, project=get('project'),  active='services'
