%def leftblock():
  <h3>{{'Services'|i18n}}</h3>
  <div ng-controller="MapproxyServicesChooserCtrl">
    <ul class="vertical-list">
      <div class="{{getClasses(service)}}"
           ng-repeat="(service, data) in services.data"
           ng-click="show(service)">
        <li>{{service|i18n}}</li>
      </div>
    </ul>
  </div>
%end

%def middleblock():
  <script type="text/ng-template"  id="wms.html">
    <h3>{{'wms'|i18n}}</h3>
    <div labeled="checkbox_label" name-for="wms_active" text="{{'Active'|i18n}}">
      <input type="checkbox" ng-model="services.data.wms.active" id="wms_active" name="wms_active"/>
    </div>
    <div labeled="input_label" name-for="wms_title" text="{{'Title'|i18n}}">
      <input type="text" ng-model="services.data.wms.md.title" id="wms_title" name="wms_title"/>
    </div>
    <div labeled="input_label" name-for="wms_srs" text="{{'SRS'|i18n}}">
      <select id="wms_srs"
              multiple="multiple"
              ng-model="services.data.wms.srs"
              ng-options="srs for srs in defaults.data.srs"
              name="wms_srs">
      </select>
    </div>
    <!-- Add md section -->
    <div labeled="input_label_toggleable" name-for="wms_md" text="{{'Meta data'|i18n}}">
      <div id="wms_md">
        <div labeled="input_label" name-for="wms_md_abstract" text="{{'Abstract'|i18n}}">
          <textarea ng-model="services.data.wms.md.abstract"
                    id="wms_md_abstract"
                    name="wms_md_abstract">
          </textarea>
        </div>
        <div labeled="input_label" name-for="wms_md_online_resource" text="{{'Online resource'|i18n}}">
          <input type="text"
                 ng-model="services.data.wms.md.online_resource"
                 id="wms_md_online_resource"
                 name="wms_md_online_resource"/>
        </div>
        <div labeled="input_label_toggleable" name-for="wms_md_contact" text="{{'Contact'|i18n}}">
          <div id="wms_md_contact">
            <div labeled="input_label" name-for="wms_md_contact_person " text="{{'Person'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.person"
                     id="wms_md_contact_person"
                     name="wms_md_contact_person"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_position" text="{{'Position'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.position"
                     id="wms_md_contact_position"
                     name="wms_md_contact_position"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_organization" text="{{'Organization'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.organization"
                     id="wms_md_contact_organization"
                     name="wms_md_contact_organization"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_address" text="{{'Address'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.address"
                     id="wms_md_contact_address"
                     name="wms_md_contact_address"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_city" text="{{'City'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.city"
                     id="wms_md_contact_city"
                     name="wms_md_contact_city"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_postcode" text="{{'Postcode'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.postcode"
                     id="wms_md_contact_postcode"
                     name="wms_md_contact_postcode"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_country" text="{{'Country'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.country"
                     id="wms_md_contact_country"
                     name="wms_md_contact_country"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_phone" text="{{'Phone'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.phone"
                     id="wms_md_contact_phone"
                     name="wms_md_contact_phone"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_fax" text="{{'Fax'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.fax"
                     id="wms_md_contact_fax"
                     name="wms_md_contact_fax"/>
            </div>
            <div labeled="input_label" name-for="wms_md_contact_email" text="{{'Email'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.contact.email"
                     id="wms_md_contact_email"
                     name="wms_md_contact_email"/>
            </div>
            <div labeled="input_label" name-for="wms_md_fees" text="{{'Fees'|i18n}}">
              <input type="text"
                     ng-model="services.data.wms.md.fees"
                     id="wms_md_fees"
                     name="wms_md_fees"/>
            </div>
            <div labeled="input_label" name-for="wms_md_access_constraints" text="{{'Access constraints'|i18n}}">
              <textarea ng-model="services.data.wms.md.access_constraints"
                        id="wms_md_access_constraints"
                        name="wms_md_access_constraints">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template"  id="tms.html">
    <h3>{{'tms'|i18n}}</h3>
    <div labeled="checkbox_label" name-for="tms_active" text="{{'Active'|i18n}}">
      <input type="checkbox" ng-model="services.data.tms.active" id="tms_active" name="tms_active">
    </div>
  </script>
  <script type="text/ng-template"  id="wmts.html">
    <h3>{{'wmts'|i18n}}</h3>
    <div labeled="checkbox_label" name-for="wmts_active" text="{{'Active'|i18n}}">
      <input type="checkbox" ng-model="services.data.wmts.active" id="wmts_active" name="wmts_active">
    </div>
  </script>
  <script type="text/ng-template"  id="kml.html">
    <h3>{{'kml'|i18n}}</h3>
    <div labeled="checkbox_label" name-for="kml_active" text="{{'Active'|i18n}}">
      <input type="checkbox" ng-model="services.data.kml.active" id="kml_active" name="kml_active">
    </div>
  </script>
  <script type="text/ng-template"  id="demo.html">
    <h3>{{'demo'|i18n}}</h3>
    <div labeled="checkbox_label" name-for="demo_active" text="{{'Active'|i18n}}">
      <input type="checkbox" ng-model="services.data.demo.active" id="demo_active" name="demo_active">
    </div>
  </script>
  <div ng-controller="MapproxyServicesCtrl">
    <form name="form">
      <div ng-include src="template"></div>
      <button class="btn btn-small"
              ng-click="save($event)"
              ng-disabled="!form.$valid"
              id="form_save"
              ng-class="{'btn-success': form.$valid}">
        {{'Save'|i18n}}
      </button>
      <span message-handler="success"
            message-types="services.add_success,services.update_success">
      </span>
      <span message-handler="error"
            message-types="services.form_error,services.load_error,services.update_error,services.add_error">
      </span>
    </form>
  </div>
%end

%def rightblock():
  &nbsp;
%end

%rebase base_config leftblock=leftblock, middleblock=middleblock, rightblock=rightblock, project=get('project'), language=get('language'),  active='services'
