%def leftblock():
<div ng-controller="MapproxySourceListCtrl">
  <h3>Sources</h3>
  <ul>
  	<li class="mapproxy_source label" ng-click="editSource(source)" ng-repeat="source in mapproxy_sources | orderBy:'name'" >
	    {{source.name}}
	    <button
	      class="btn btn-mini btn-danger right"
	      ask-dialog
	      dialog-title="Confirm!"
	      dialog-text='Really remove source "{{source.name}}"?'
	      callback="removeSource(source)">X
	     </button>
	  </li>
  </ul>
  <button class="btn btn-small" ng-click="newSource()">New source</button>
</div>
%end

%def middleblock():
<div ng-controller="MapproxySourceNoticeCtrl">
     <form class="form-horizontal" name="source_form" ng-controller="MapproxySourceFormCtrl" novalidate>
        <h3>{{formTitle}}</h3>
         <div toggle-group mode="multiShow">
             <div
                 style="display:none;"
                 id="confirm_url_change_dialog"
                 title="confirm url change">
                 <p>Replace service URL deletes all layers depends to it!</p>
             </div>
             <h5 toggle-element="next">Required Settings</h5>

             <div ng-show="true">
         <!-- name -->
                 <div labeled-control-group name-for="source_form.name" text="Name">
                     <input class="input-xlarge" type="text" required ng-model="source.name" name="source_form.name"/>
                 </div>
         <!-- req -->
             <!-- url -->
                 <div labeled-control-group name-for="source_form.req_url" text="URL">
                     <!-- change-callback MUST provide parameters callback and new_data -->
                     <!-- if an input field should be droppable, it must be wraped in an other element.
                          otherwise input field value will not be updated when something is dropped in.-->
                     <div droppable change-callback="openDialog(callback, new_data)" class="droppable_input_wrapper input-xlarge"
                         accepts="wms_source" use-key-for-value="url" ng-model="source.req.url">
                         <input class="input-xlarge" type="url" value="{{source.wms_source}}" name="source_form.req_url"
                             required ng-model="source.req.url" />
                     </div>
                 </div>
             <!-- layer -->
                 <div labeled-control-group name-for="source_form.req_layer" text="Layer">
                     <div
                         droppable
                         required
                         accepts="wms_layer"
                         allow-array="true"
                         ng-model="source.req.layers"
                         name="source_form.req_layers"
                         use-key-for-value="name"
                         class="input-xlarge insertable_multi uneditable-input">
                         <div sortable ng-model="source.req.layers" >
                             <div ng-repeat="layer in source.req.layers" class="item">
                                 {{layer}} <span ng-show="layerTitle(layer)">({{layerTitle(layer)}})</span>
                                 <button class="btn btn-mini btn-danger right" ng-click="remove(layer)">X</button>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div labeled-control-group name-for="add_layer_manual" text="Manual add layer">
                     <input type="text" id="add_layer_manual" name="add_layer_manual" ng-model="custom.layer_manual" class="input-xlarge">
                     <button class="btn btn-small" ng-click="addLayerManual($event)">Add</button>
                 </div>
             <!-- transparent -->
                 <div labeled-control-group name-for="source_form.req_transparent" text="Transparent" warning="{{invalid_image_settings}}" warning-msg="Selectet image format(s) not support transparency.">
                     <input type="checkbox" ng-model="source.req.transparent" name="source_form.req_transparent">
                 </div>
             </div>
         </div>
     <!-- buttons -->
         <button class="btn btn-small" ng-click="addSource($event)" ng-disabled="!source_form.$valid">Save</button>
         <i id="source_save_ok" class="icon-ok" ng-show="false"></i>
         <button class="btn btn-small" ng-click="resetForm($event)">Reset</button>
     </form>
</div>

%end

%def rightblock():
<div ng-controller="TreeCtrl">
    <h3>Available WMS</h3>
    <script type="text/ng-template"  id="wms_layer_renderer.html">
        <div ng-click="show_infos(layer)" class="layer_infos">
            <h6>{{layer.title}}</h6>
            <span ng-show="layer.name">Name: {{layer.name}}</span>
        </div>
        <div
            ng-repeat="layer in layer.layers"
            ng-include="'wms_layer_renderer.html'"
            draggable
            item-data="{{itemData(layer)}}"
            class="wms_layer grp_layer label"></div>
            <!-- wms_layer is required for dropping into droppable -->
    </script>
    <div toggle-group mode='hideOther'>
        <div ng-repeat="wms in wms_list" class="wms label label-success" >
            <div toggle-element="next">
                <h5 style="display:inline-block" draggable item-data="{{wms}}" class="wms_source">{{wms.title}}</h5>
                <div style="display:inline-block" class="right">
                    <button class="btn btn-mini" ng-click="refreshCapabilities($event, wms._id, wms.url)">RefreshCapabilities</button>
                </div>
            </div>
            <div ng-show="$first">
                <p>URL: {{wms.url}}</p>
                <div
                    ng-repeat="layer in wms.layer.layers"
                    ng-include="'wms_layer_renderer.html'"
                    draggable item-data="{{itemData(layer)}}"
                    class="wms_layer layer label label-info"></div>
                    <!-- wms_layer is required for dropping into droppable -->
            </div>
        </div>
    </div>
    <div ng-show="false" id="capabilities_refresh_ok">{{refresh_msg}}</div>
    <hr>
    <form class="form-horizontal" name="capabilities_form" novalidate>
        <div labeled-control-group name-for="capabilities_url" text="Capabilities">
            <input type="url" required name="capabilities_url" ng-model="capabilities.url">
        </div>
        <div class="error-msg alert alert-error" ng-show="capabilities.error">{{capabilities.error}}</div>
        <button class="btn btn-small" ng-click="addCapabilities()" ng-disabled="!capabilities_form.$valid">GetCapabilities</button><!-- add new wms -->
        <i id="capabilities_add_ok" class="icon-ok" ng-show="false"></i>
    </form>
</div>
  %end
%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock,  project=get('project'),  active='sources'