%def leftblock():
<div ng-controller="MapproxySourceListCtrl">
  <div class="pull-right">
    <!-- konflikt mit bootstrap -->
    <button class="btn btn-small btn-info pull-right" ng-click="newSource()">
      <span class="icon-plus-sign icon-white" ></span> {{'Create new source'|i18n}}
    </button>
  </div>
  <h3>{{'Sources'|i18n}}</h3>
  <span class="text-error" id="sourcelist_service_error" ng-show="false">
    <i class="icon-thumbs-down"></i>
    <strong>{{'An error occured'|i18n}}</strong>
    <p>{{sourcelistErrorMsg}}</p>
  </span>
  <ul class="vertical-list">
    <hr>
    <div class="{{isSelected(source)}}" ng-repeat="source in mapproxy_sources | orderBy:'name'"
    ng-click="editSource(source)">
    <li>
      <i ng-show="source._manual" class="icon-pencil"></i>
      {{source.name}}
      <i ng-show="!hasDependencies(source)" class="icon-remove"
        ask-dialog
        dialog-title="{{'Confirm!'|i18n}}"
        dialog-text="{{'Really remove source:'|i18n}} {{source.name}}?"
        callback="removeSource(source)">
      </i>
      <i ng-show="hasDependencies(source)" class="icon-remove"
        confirm-dialog
        dialog-title="{{'Confirm!'|i18n}}"
        dialog-text="{{'Can not remove source:'|i18n}} {{source.name}}<br>{{getDependencies(source)}}">
       </i>
     </li>
     <hr>
    </div>
  </ul>
</div>
%end

%def middleblock():
<div ng-controller="MapproxySourceNoticeCtrl">
  <div ng-controller="MapproxySourceFormCtrl">
    <form name="source_form" novalidate ng-show="!_editarea.visible">
      <h3>{{formTitle|i18n}}</h3>
      <fieldset>
      <div toggle-group mode="multiShow">
        <!-- title? -->
        <div
          style="display:none;"
          id="confirm_url_change_dialog"
          title="{{'Confirm!'|i18n}}">
            <p>{{'Replace service URL deletes all layers depends to it!'|i18n}}</p>
        </div>
        <div ng-show="true">
          <div labeled="input_label" name-for="source_form.name" text="{{'Name'|i18n}}">
            <input class="input-xlarge" type="text" required ng-model="source.name" id="source_form.name"/>
          </div>
          <div id="source_wms_url" labeled="input_label" name-for="source_form.req_url" text="{{'URL'|i18n}}">
            <input
              id="source_form.req_url"
              class="input-xlarge"
              type="url"
              value="{{source.wms_source}}"
              ng-model="source.req.url"
              required
              droppable
              change-callback="openDialog(callback, new_data)"
              accepts="wms_source"
              use-key-for-value="url"
            />
          </div>

          <div labeled="input_label" name-for="source_form.req_layer" text="{{'Layer'|i18n}}">
            <div droppable sortable required accepts="wms_layer" allow-array="true"
                ng-model="source.req.layers"
                name="source_form.req_layers"
                use-key-for-value="name"
                class="input-xlarge insertable-list uneditable-input"
                insert-callback="checkURL(callback, new_data)">

                <div ng-repeat="layer in source.req.layers" class="label">
                  {{layer}}
                  <span ng-show="layerTitle(layer)">({{layerTitle(layer)}})</span>
                   <i class="icon-remove" ng-click="remove(layer)"></i>
                </div>
            </div>
          </div>
          <div class="input-append" labeled="input_label" name-for="add_layer_manual" text="{{'Manual add layer'|i18n}}">
            <input type="text" id="add_layer_manual" name="add_layer_manual" ng-model="custom.layer_manual" class="input-xlarge" unique="{{source.req.layers}}">
            <button class="btn" ng-click="addLayerManual($event)" ng-disabled="!custom.layer_manual">{{'Add'|i18n}}</button>
          </div>

          <div labeled='checkbox_label' name-for="source_form.req_transparent" text="{{'Transparency'|i18n}}" warning="{{invalid_image_settings}}" warning-msg="{{'Selectet image format(s) not support transparency.'|i18n}}">
            <input type="checkbox" ng-model="source.req.transparent" id="source_form.req_transparent">
          </div>
          <div class="input-append" labeled='input_label' name-for="source_form.coverage_bbox" text="{{'Coverage BBOX'|i18n}}">
            <input type="text" ng-model="source.coverage.bbox" id="source_form.coverage_bbox" class="input-xlarge">
            <button class="btn" ng-disabled="!source.req.url" ng-click="addCoverage($event)" id="source_form_load_coverage">{{'Use coverage from WMS'|i18n}}</button>
          </div>
          <div labeled="input_label" name-for="source_form.supported_srs" text="{{'Supported SRS'|i18n}}">
            <div name="source_form.supported_srs" class="well well-small input-xlarge">
              <span class="badge" ng-repeat="srs in source.supported_srs">{{srs}}<i class="icon-remove" ng-click="removeSRS($event, srs)"></i></span>
            </div>
            <button class="btn" ng-click="loadSRS($event)" ng-disabled="!source.req.url">{{'Add SRS from WMS'|i18n}}</button>
          </div>
          <div class="input-append" labeled="input_label" name-for="add_srs_manual" text="{{'Manual add SRS'|i18n}}">
            <input type="text" id="add_srs_manual" name="add_srs_manual" ng-model="custom.srs_manual" class="input-xlarge">
            <button class="btn" ng-click="addSRSManual($event)" ng-disabled="!custom.srs_manual">{{'Add'|i18n}}</button>
          </div>
        </div>
      </div>
      <button class="btn" ng-click="addSource($event)" ng-disabled="!source_form.$valid" id="source_form_save">{{'Save'|i18n}}</button>
      <button class="btn" ng-click="resetForm($event)">{{'Reset'|i18n}}</button>
      <span class="text-success save_ok" ng-show="false">
        <i class="icon-ok"></i>
         <strong>{{'Saved successfully'|i18n}}</strong>
       </span>
       <span class="text-error" id="sourceform_service_error" ng-show="false">
          <i class="icon-thumbs-down"></i>
          <strong>{{'Saving failed'|i18n}}</strong>
          {{sourceformErrorMsg}}
        </span>
      </fieldset>
    </form>
    <div editarea editarea-value="{{prepareForEditarea(source)}}" yaml-URL="/yaml" json-URL="/json" keep-empty-fields="name"></div>
  </div>
</div>
%end

%def rightblock():
<div ng-controller="TreeCtrl">
    <h3>{{'Available WMS'|i18n}}</h3>
    <script type="text/ng-template"  id="wms_layer_renderer">
        <div ng-click="show_infos(layer)" class="label droppable_name">
            {{layer.title}} – <span ng-show="layer.name">{{layer.name}}</span>
        </div>
        <div
            ng-repeat="layer in layer.layers"
            ng-include="'wms_layer_renderer'"
            draggable
            item-data="{{itemData(layer)}}"
            class="wms_layer grp_layer label"></div>
            <!-- wms_layer is required for dropping into droppable -->
    </script>
    <div toggle-group mode='hideOther' class="accordion">
        <div ng-repeat="wms in wms_list" class="wms accordion-group">
            <div class="accordion-heading" toggle-element="next">
              <div class="accordion-toggle">
                  {{wms.title}}</div>
                <i class="icon-refresh"  ng-click="refreshCapabilities($event, wms)"></i>
                <i class="icon-remove" ask-dialog dialog-title="{{'Confirm!'|i18n}}" dialog-text="{{'Really remove WMS:'|i18n}} {{wms.title}}?" callback="removeCapabilities(wms)"></i>
              </div>
            <div class="accordion-body" ng-show="$first">
               <div class="accordion-inner">
               <h6>{{'Infos'|i18n}}</h6>
               <div class="accordion_wms_source wms_source" draggable item-data="{{wms}}">
                  <div class="droppable_name label">
                    {{'URL'|i18n}}: {{wms.url}}</div>
               </div>

               <h6>{{'Layers'|i18n}}</h6>
               <div
                    ng-repeat="layer in wms.layer.layers"
                    ng-include="'wms_layer_renderer'"
                    draggable item-data="{{prepareLayer(layer, wms.url)}}"
                    class="wms_layer"></div>
                    <!-- wms_layer is required for dropping into droppable -->
              </div>
            </div>
        </div>
    </div>
    <div ng-show="false" id="capabilities_refresh_ok" class="text-success">
        <i class="icon-ok"></i>
        <strong>{{refresh_msg}}</strong>
    </div>
    <div ng-show="false" id="capabilities_refresh_error" class="text-error">
        <i class="icon-thumbs-down"></i>
        <strong>{{'An error occured'|i18n}}</strong>
        <p>{{treeErrorMsg}}</p>
    </div>
    <hr>
    <form name="capabilities_form" novalidate>
        <div class="input-append" labeled="input_label" name-for="addCapabilities"  text="{{'Load WMS'|i18n}}">
            <input type="url" required name="capabilities_url" ng-model="capabilities.url" id="addCapabilities" unique="{{wms_urls}}">
            <button class="btn" ng-click="addCapabilities()" ng-disabled="!capabilities_form.$valid">{{'Add'|i18n}}</button>
        </div>
        <div>
          <span class="text-success" id="capabilities_add_ok" ng-show="false">
            <i class="icon-ok"></i>
            <strong>{{'Add WMS successfully'|i18n}}</strong>
          </span>
        </div>
        <div>
          <span class="text-error" id="capabilities_service_error" ng-show="false">
            <i class="icon-thumbs-down"></i>
            <strong>{{'An error occured'|i18n}}</strong>
            <p>{{treeErrorMsg}}</p>
          </span>
        </div>
    </form>
</div>
  %end
%rebase base_config leftblock=leftblock, rightblock=rightblock, middleblock=middleblock,  project=get('project'),  active='sources'